[2020-08-10 13:20] Flanker32 commented on #1118
@twolfrum Could you please set  `<executable>` of `spring-boot-maven-plugin` to be `false` and try again? This which will generate a bash file with jar content, while maven plugin requires a jar which could be invoke by `java -jar` (jar with Main class in Manifest)

[2020-08-11 08:51] ZhengJun003 opened #1122 "Encountered a InternalServerError from host runtime when deploy"
### Plugin name and version
azure-functions-maven-plugin 1.7.0
### Plugin configuration in your `pom.xml`
[code]
### Actual behavior

[code]

[2020-08-11 10:11] pl07 opened #1123 "GroupId and artifactId will confirm twice when generate archetype"
### Plugin name and version
azure-functions-archetype 1.30.0

### Steps to reproduce the problem
 Run `mvn archetype:generate -DarchetypeGroupId=com.microsoft.azure -DarchetypeArtifactId=azure-functions-archetype -DarchetypeVersion=1.30` to generate archetype
### Actual behavior
When confirm your configuration, groupId and artifactId will confirm twice
![image](https://user-images.githubuserconten

[2020-08-12 01:31] pl07 commented on #1123
This is the archetype issue,move to [#153](https://github.com/microsoft/azure-maven-archetypes/issues/153)

[2020-08-12 01:31] #1123 closed

[2020-08-12 05:28] #1122 closed

[2020-08-14 10:48] shashanksdixit commented on #1107
Hi @amamounelsayed , @Flanker32
Can you please suggest further. This is still a blocker to me.

[2020-08-14 17:12] amamounelsayed commented on #1107
Sorry @shashanksdixit for the delay.

@soninaren Do you have any input for this issue?

[2020-08-18 06:41] Flanker32 opened #1125 "Update apiVersion for Maven Plugin for Azure Spring Cloud"
Azure Spring Cloud service will GA on 8/18 and we need to switch the Api-Version to 2020-07-01. For the maven tooling, we also need to adapt the changes in scaling part.

PR for swagger : https://github.com/Azure/azure-rest-api-specs-pr/pull/1627
Changes:
- [General] Add async operation response code 201/202 for creating/updating resource via PUT, add async operation response code 202 for updating

[2020-08-18 07:16] Flanker32 commented on #1125
SDK : https://search.maven.org/artifact/com.microsoft.azure.appplatform.v2020_07_01/azure-mgmt-appplatform/1.0.0-beta/jar

[2020-08-18 08:37] #1105 closed

[2020-08-18 08:37] #1104 closed

[2020-08-18 08:37] #1103 closed

[2020-08-19 05:18] wangmingliang-ms commented on #1110
the `error` and `errorDescription`  come from Azure's own OAuth server, which should be trustable.

[2020-08-21 03:14] ZhengJun003 opened #1129 "Can't find azure spring cloud service in current subscription"
### Plugin name and version
azure-spring-cloud-maven-plugin:1.3.0-SNAPSHOT
### Actual behavior
[code]
### Steps to reproduce the problem

1. Install https://github.com/microsoft/azure-maven-plugins/tree/github-issue-1125
2. git clone https://github.com/xscript/PiggyMetrics
3. execute `cd PiggyMetrics` and `mvn clean package -DskipTests`
4. execute `mvn com.microsoft.azure:azure-spring-cloud-maven-

[2020-08-24 02:12] wangmingliang-ms commented on #1129
it failed because the backend REST API was upgrading and not ready at that time. please try again today.

[2020-08-24 02:12] #1129 closed

[2020-08-24 02:24] ZhengJun003 commented on #1129
Test in branch: github-issue-1125, REST API is ready

[2020-08-24 02:38] ZhengJun003 opened #1130 "CloudException: OnError while emitting onNext value: retrofit2.Response.class"
### Plugin name and version
azure-spring-cloud-maven-plugin:1.3.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
[code]

### Actual behavior
[code]

### Steps to reproduce the problem

1. Install https://github.com/microsoft/azure-maven-plugins/tree/github-issue-1125
2. git clone https://github.com/xscript/PiggyMetrics
3. execute cd PiggyMetrics and mvn clean package -DskipTests
4. execute mv

[2020-08-24 05:51] shashanksdixit commented on #1107
Hi @soninaren
cc- @amamounelsayed

Gentle reminder for more inputs.

[2020-08-24 08:11] ZhengJun003 commented on #1130
Test the branch: github-issue-1125, this issue is fixed, so close it

[2020-08-24 08:17] ZhengJun003 opened #1131 "Can't show public url when user set isPublic to true"
### Plugin name and version
azure-spring-cloud-maven-plugin:1.3.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
[code]

### Actual behavior
![image](https://user-images.githubusercontent.com/41051257/91020413-fad9a480-e624-11ea-9694-90433adb732e.png)

### Steps to reproduce the problem

1. Install https://github.com/microsoft/azure-maven-plugins/tree/github-issue-1125
2. git clone https://gi

[2020-08-24 08:26] ZhengJun003 opened #1132 "Can't scale and update existing deployment"
### Plugin name and version
azure-spring-cloud-maven-plugin:1.3.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
[code]

### Actual behavior
![image](https://user-images.githubusercontent.com/41051257/91021134-e8ac3600-e625-11ea-8903-f5c2307d0e4d.png)
![image](https://user-images.githubusercontent.com/41051257/91021145-ed70ea00-e625-11ea-975c-77fa6ab97645.png)
![image](https://user-images.git

[2020-08-25 01:38] wangmingliang-ms commented on #1130
https://github.com/microsoft/azure-maven-plugins/pull/1126/commits/5cb2a9da22a763f7d1cbb37618a865b538e5df9a
https://github.com/microsoft/azure-maven-plugins/pull/1126/commits/342cdfb0039566cdb519f540e5dd4841807ecf1f

[2020-08-25 04:57] #1110 closed

[2020-08-25 19:57] soninaren commented on #1107
@shashanksdixit, Sorry for a delayed response. The `Value cannot be null. (Parameter 'provider')` is extremely generic and can be caused by a lot of things. We can try narrowing down on the root cause.

- Is this happening for all function apps running locally or just this function app?
- Can you temporarily remove all functions from the function app and also remove the bundle configuration (sampl

[2020-08-26 04:20] shashanksdixit commented on #1107
Hi @soninaren

**_1. Is this happening for all function apps running locally or just this function app._**
Ans - This is the first function app I am trying to run. I just took a sample app from here https://github.com/Azure-Samples/hello-spring-function-azure and tried by running the command given in the documentation. All the prerequisites are checked.

**_2. Can you temporarily remove all functi

[2020-08-26 20:23] soninaren commented on #1107
Yes, I saw the error. Sorry i missed the sample link.
I saw the error, but unfortunately there is nothing in the error that is indicative of the root caused. Hence the struggle in finding a clear root cause.

@amamounelsayed Can you try executing this sample https://github.com/Azure-Samples/hello-spring-function-azure to see if you repro / successfully run the sample project.

[2020-08-29 11:35] pherrera-6f opened #1134 "Validation of the 'function artifact' should respect value of 'finalName' passed via plugin configuration"
### Plugin name and version
`azure-functions-maven-plugin` version 1.7.0

### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
The `getArtifactToDeploy` method introduced in https://github.com/microsoft/azure-maven-plugins/pull/1116/files should correctly find my `.jar` file even if it has a different name to the value of `project.build.finalName`, which may differ due to the ac

[2020-08-29 11:35] #1134 closed

[2020-08-29 11:36] patrickherrera opened #1135 "Validation of the 'function artifact' should respect value of 'finalName' passed via plugin configuration"
### Plugin name and version
`azure-functions-maven-plugin` version 1.7.0

### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
The `getArtifactToDeploy` method introduced in https://github.com/microsoft/azure-maven-plugins/pull/1116/files should correctly find my `.jar` file even if it has a different name to the value of `project.build.finalName`, which may differ due to the ac

[2020-08-30 05:10] patrickherrera commented on #1135
Thinking about this a bit further, wouldn't it make sense to validate that a `.jar` file exists that matches the name given for `scriptFile` in the `function.json` definition?
It seems to be me that should be the source of truth and there should be no assumptions as to what the name actually is, only that they match.

[2020-08-31 05:17] shashanksdixit commented on #1107
Hi @soninaren  and @amamounelsayed

The same sample application I am running, with the latest per-requisites softwares. Note that, it might work for you. The question is that when I have all the pre-requisites with the required version, why it is failing at my end. There is no modification done in the program. and I am simply running maven command given in the sample. Is there any other way to deb

[2020-08-31 07:38] ZhengJun003 opened #1137 "Press Ctrl+C to shut down function host in local will prompt error"
### Plugin name and version
OS: Mac
azure-functions-maven-plugin 1.8.0
### Plugin configuration in your `pom.xml`
[code]
### Actual behavior
![image](https://user-images.githubusercontent.com/41051257/91694453-23224f80-eb9f-11ea-9eb8-63893b90dce0.png)

[2020-08-31 10:11] Chika20 commented on #358
hello all,
I am facing same issue while deploying from CICD pipeline from Gitlab.
[ERROR] com.microsoft.azure.common.exceptions.AzureExecutionException: Server not found in settings.xml. ServerId=azure-auth

I have added new Service Principle details in settings.xml & provided all information.
Deployment working fine from cmd but not from script pipeline.

[2020-08-31 13:08] Flanker32 commented on #358
@Chika20 Thanks for your report, you need to update the credentials in settings.xml of pipeline, please refer [here](https://github.com/microsoft/azure-maven-plugins/wiki/Authentication#service-principles-in-settingsxml) for details. Or you may try set credential in pom configuration and set the values with environment variables.

[2020-09-01 07:25] ZhengJun003 commented on #1137
If the function host is not fully up, Ctrl + C will report this issue. this is the behavior of function core tools, so close this issue

[2020-09-01 07:25] #1137 closed

[2020-09-02 09:21] #1052 closed

[2020-09-02 19:36] barrenaedu-teracode commented on #1107
Same happens to me, if I have the host.json in the root project along with pom.xml everything works fine:

` <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-resources-plugin</artifactId>
                <executions>
                    <execution>
                        <id>copy-resources</id>
                        <phase>package</phase>

[2020-09-04 03:25] ZhengJun003 commented on #1130
jvmOptions.invalidLetters '-Xmx500m -Xmx100m'

![image](https://user-images.githubusercontent.com/41051257/92195993-cecde700-eea0-11ea-80d0-8978cc287c3b.png)

[2020-09-04 06:53] ZhengJun003 commented on #1130
Test in the branch: github-issue-1125, this issue is fixed, so close it

[2020-09-04 06:53] #1130 closed

[2020-09-04 06:54] ZhengJun003 commented on #1131
test in this branch: github-issue-1125, this issue is fixed, so close this issue

[2020-09-04 06:54] #1131 closed

[2020-09-04 06:57] ZhengJun003 commented on #1132
test in this branch: github-issue-1125, this issue is fixed, so close this issue

[2020-09-04 07:17] ZhengJun003 commented on #1132
Can't enable persistent storage when setting true value for enablePersistentStorage

![image](https://user-images.githubusercontent.com/41051257/92210672-c33ee800-eec1-11ea-9479-cc1ccd2fc2a1.png)

![image](https://user-images.githubusercontent.com/41051257/92210679-c5a14200-eec1-11ea-9564-a49317560fd9.png)

[2020-09-07 11:50] shashanksdixit commented on #1107
Hi @barrenaedu-teracode
I have the host.json here -> https://github.com/Azure-Samples/hello-spring-function-azure/tree/master/**src/main/azure**
i.e. src/main/azure

Do you mean that it should be moved to the location where pom.xml is present?

@soninaren @amamounelsayed  - will it make a difference?

[2020-09-09 02:46] miguelch96 opened #1139 "Functions deploment failures with authentication via Service Principal"
### Plugin name and version

Plugin/Version:

`azure-functions-maven-plugin` / 1.4.0

### Plugin configuration in your `pom.xml`

[code]

[code]

### Expected behavior

Deployment succeeds

### Actual behavior

`Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:1.8.0:deploy (default-cli) on project Functions: Execution default-cli of goal com.microsoft.azure:azure-functions-m

[2020-09-09 14:06] #1118 closed

[2020-09-11 09:43] ZhengJun003 opened #1142 "Plugin not prompt design error message when set a not existing slot name for ConfigurationSource"
### Plugin name and version
OS: Win
Plugin: azure-functions-maven-plugin 1.9.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
[code]
### Actual behavior
![image](https://user-images.githubusercontent.com/41051257/92904971-de779d80-f455-11ea-8873-c954c091456e.png)

[2020-09-11 13:45] shashanksdixit commented on #1107
Hi @soninaren @amamounelsayed  @barrenaedu-teracode
I have tried the above solution (files from src/main/azure to the project main folder). It does not work for me. I get the same error which I had mentioned above.

[2020-09-14 02:18] Flanker32 commented on #1107
@barrenaedu-teracode Thanks for your report, for now maven plugin read the `host.json` in project root and decide whether invoke `func extension install` or not, we may enable set the host json path in later releases.

@shashanksdixit I think there might be some issues with the .net runtime or function core tools rather than the maven resource issue, you may run the following steps to run the func

[2020-09-14 06:30] Flanker32 commented on #1139
@miguelch96 Thanks for your report, will looking into this issue soon

[2020-09-14 07:59] shashanksdixit commented on #1107
Hi @Flanker32

I am still getting the same error. I am pasting the log below. As well as the versions I have. Let me know if any version is the issue you think.

If you see below log at this timestamp, I still have the same error.
`[9/14/2020 7:50:21 AM] [INFO] {Application.main}: Azure Functions Java Worker version [ 1.5.3]
Value cannot be null. (Parameter 'provider')
Application is shutting down

[2020-09-14 08:45] Flanker32 commented on #1107
@shashanksdixit Thanks again for your consistent support, i tried the same runtime with you and it works fine... so the runtime should be fine, @amamounelsayed  @soninaren do you have any idea about this issue?

By the way, @shashanksdixit Could you please share how did you install the function core tools, and could you please try the v2 tools to see whether it could works for you? You may install

[2020-09-14 09:02] shashanksdixit commented on #1107
@Flanker32 How do I uninstall the ealier installed tools.

[2020-09-14 09:05] Flanker32 commented on #1107
Could you please share how you install the tools? For npm, you may use `npm uninstall -g azure-functions-core-tools`

[2020-09-14 09:24] shashanksdixit commented on #1107
Hi @Flanker32

I had installed tools as given [here.](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/getting-started-with-spring-cloud-function-in-azure). (Similar commands as you have given)

[2020-09-15 01:53] Flanker32 commented on #1107
@shashanksdixit It seems you have installed the core tools with other tooling and the path was not updated, by the way, could you please try invoke `func host start` with absolute path of v2 function core tools in staging folder? Which should be like

`"C:\Users\<user>\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin\func" host start`

[2020-09-15 06:42] vnextcoder commented on #289
This Issue also happens if you are having AZ CLI installed within WSL 2 and running MVNW from WSL2 only.

For troubleshooting this on WSL , I tried all steps necessary to clear the Subscriptions, Set Default Subscription from Command Line and also set <subscriptionId></subscriptionId> in the pom.xml as well.

thing is the Azure.Subscriptions.list() just returns nothing. it could be a bug within th

[2020-09-15 06:43] vnextcoder commented on #358
This Issue also happens if you are having AZ CLI installed within WSL 2 and running MVNW from WSL2 only.

For troubleshooting this on WSL , I tried all steps necessary to clear the Subscriptions, Set Default Subscription from Command Line and also set <subscriptionId></subscriptionId> in the pom.xml as well.

thing is the Azure.Subscriptions.list() just returns nothing. it could be a bug within th

[2020-09-15 07:54] shashanksdixit commented on #1107
Same error.  Following is the output log.

[code]

[2020-09-17 02:52] ZhengJun003 commented on #1142
Verified in develop branch, this issue is fixed.
![image](https://user-images.githubusercontent.com/41051257/93414381-c11e5580-f8d3-11ea-91d6-f7bc5df8d953.png)

[2020-09-17 02:52] #1142 closed

[2020-09-17 05:28] #1135 closed

[2020-09-17 09:41] ZhengJun003 commented on #1132
Verify this issue in commicrosoftazure-4259, it fixed

[2020-09-17 09:41] #1132 closed

[2020-09-18 06:08] ZhengJun003 opened #1148 "Can't display instance status when create a new app"
### Plugin name and version
OS: Win 10/Mac 10.15.3
Plguin: azure-spring-cloud-maven-plugin:1.3.0

### Expected behavior
![image](https://user-images.githubusercontent.com/41051257/93561980-b806b480-f9b7-11ea-9ef2-4927e80c0775.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/41051257/93561902-95749b80-f9b7-11ea-9204-a5d4bef3eaf3.png)

### Steps to reproduce the problem
1

[2020-09-18 06:12] ZhengJun003 opened #1149 "Sometimes the warning message that instance is not stable does not automatically line feed"
### Plugin name and version
OS: Win 10/Mac 10.15.3
Plguin: azure-spring-cloud-maven-plugin:1.3.0
### Actual behavior
![image](https://user-images.githubusercontent.com/41051257/93562598-ec2ea500-f9b8-11ea-8b50-17f168ef92bd.png)

[2020-09-18 07:18] pl07 opened #1150 "Can't update application settings"
### Plugin name and version
OS: Win 10
Plugin: azure-webapp-maven-plugin:1.11.0-SNAPSHOT

### Actual behavior
PricingTier empty or default
![image](https://user-images.githubusercontent.com/46642771/93567683-9ad6e380-f9c1-11ea-83ff-69fb4f4c0949.png)
change default P1v2 to p1v2
![image](https://user-images.githubusercontent.com/46642771/93567732-b17d3a80-f9c1-11ea-98cf-ff839b1f7a00.png)

### Steps

[2020-09-18 07:31] pl07 opened #1151 "Values of some unnecessary configurations can't be empty"
### Plugin name and version
OS: Win 10
Plugin: azure-webapp-maven-plugin:1.11.0-SNAPSHOT
### Steps to reproduce the problem
1. Create a new webapp project and generate configuration
2. Use `mvn azure-webapp:config` to config webapp
### Expected behavior
![image](https://user-images.githubusercontent.com/46642771/93568365-a080f900-f9c2-11ea-84d8-4413e2ad4148.png)

### Actual behavior
configurationS

[2020-09-18 09:46] pl07 commented on #1151
Test pass in new bits.

[2020-09-18 09:46] #1151 closed

[2020-09-18 10:00] pl07 commented on #1150
Linux app service didn't support P1,P2,P3 pricing tier. Set rumtime to linux or docker, and set pricingTier to P1/2/3 prompts this error.

[2020-09-22 05:14] yucwan opened #1156 "[Maven Web App] java.lang.OutOfMemoryError"
[INFO] BUILD FAILURE  [INFO] ------------------------------------------------------------------------  [INFO] Total time:  51.010 s  [INFO] Finished at: 2020-08-26T14:35:05+05:30  [INFO] ------------------------------------------------------------------------  [ERROR] Java heap space -> [Help 1]  java.lang.OutOfMemoryError: Java heap space      at java.util.Arrays.copyOf (Arrays.java:3236)      at

[2020-09-22 05:15] yucwan commented on #1156
Way to reproduce:

1. set MAVEN_OPTS=-Xmx64m` reset maven heap size
2. Copy files which is larger than heap size to staging folder
3. run maven deploy

The issue was caused by the heap size of maven was too small to upload artifact, users may change the maven heap size by `set MAVEN_OPTS=-Xmx`, we may add the file size validation in later release.

[2020-09-22 05:15] #1156 closed

[2020-09-22 07:55] ZhengJun003 commented on #1149
Test in branch: hanxiao/fixDeploymentStatus, this issue is fixed
![image](https://user-images.githubusercontent.com/41051257/93856724-097eae80-fcec-11ea-8d3d-523b580eed27.png)

[2020-09-22 07:55] #1149 closed

[2020-09-23 05:59] ZhengJun003 commented on #1148
Test in the branch hanxiao/fixDeploymentStatus, this issue is fixed

![image](https://user-images.githubusercontent.com/41051257/93971631-3215af80-fda3-11ea-8296-ab1c6d348331.png)

[2020-09-23 05:59] #1148 closed

[2020-09-24 07:14] pl07 commented on #1150
Test pass in new pr.

[2020-09-24 07:14] #1150 closed

[2020-09-24 07:43] Flanker32 commented on #581
@IrimieBogdan, @sikang3973, @hyomin-jang , @sooji2573 Thanks a lot for your support, deployment slot support in maven has been released in [azure-functions-maven-plugin-1.9.0](https://github.com/microsoft/azure-maven-plugins/releases/tag/azure-functions-maven-plugin-1.9.0)

[2020-10-09 08:29] gcharters commented on #1088
@Flanker32 is there any update on whether this was an app service port forwarding issue and whether it has been resolved?  Many thanks.

[2020-10-10 02:39] Flanker32 commented on #1088
@gcharters Sorry but there is no update from the app service side, I'll update here once there are updates.

[2020-10-14 08:35] pl07 opened #1173 "WebContainer can't be saved to pom.xml when update runtime config"
### Plugin name and version
Azure-webapp-maven-plugin:1.12.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
    <runtime>
         <os>Linux</os>
         <javaVersion>jre8</javaVersion>
         <webContainer>jre8</webContainer>
    </runtime>
### Expected behavior
![image](https://user-images.githubusercontent.com/46642771/95964055-fd919280-0e3a-11eb-84f1-2dd7ccb40e0b.png)

### Actual behav

[2020-10-14 09:07] pl07 opened #1174 "Can't update linux java8 jboss runtime configuration"
### Plugin name and version
Azure-webapp-maven-plugin:1.12.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
![image](https://user-images.githubusercontent.com/46642771/95967993-86aac880-0e3f-11eb-9a8e-7cbb2b3cc6ce.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/46642771/95967901-62e78280-0e3f-11eb-9459-7085e5a2e19d.png)

### Steps to reproduce the problem
1. Confi

[2020-10-14 13:58] lamuzhou commented on #988
I have the same issue and solved it by changing jdk version of my IEDA project to jdk 1.8
In IEDA, go to file -> project structure, check your project sdk
if it's anything higer than 1.8, change it to 1.8.
hope this helps

[2020-10-15 12:01] JV-TMCZ opened #1175 "azure-functions:package goal does not create actual package (ZIP)"
Problem: There is no way to create (independent) deployment package (ZIP file) for azure functions. Typically usage for CI/CD pipelines.

### Plugin name and version
com.microsoft.azure:azure-functions-maven-plugin:1.9.0

### Plugin configuration in your `pom.xml`
irelevant

### Expected behavior
mvn package or mvn azure-functions:package (default phase of azure-functions:package is package, so it

[2020-10-15 17:24] ghLinks commented on #1175
Also interested in this, and when I run the azure-functions:package directly I get npe
`Caused by: java.lang.NullPointerException                                                                                                                                                                            at java.util.zip.ZipFile.<init> (ZipFile.java:207)

[2020-10-16 06:24] pl07 commented on #1173
Test pass in new pr, close the issue.

[2020-10-16 06:24] #1173 closed

[2020-10-16 06:25] pl07 commented on #1174
Test pass in new pr, close the issue.

[2020-10-16 06:25] #1174 closed

[2020-10-19 07:57] pl07 opened #1177 "WebContainer not correct when deploy jar project to windows"
### Plugin name and version
Azure-webapp-maven-plugin:1.12.0
### Plugin configuration in your `pom.xml`
          <runtime>
            <os>Windows</os>
            <javaVersion>Java 8</javaVersion>
            <webContainer>Java SE</webContainer>
          </runtime>

### Actual behavior
[code]

[2020-10-19 13:05] sijucm commented on #83
I have the same issue. It just does not use the existing function app and attempts to create a new function app. I get only connection timeout and nothing useful comes out of microsoft-tools to identify what is happening.

[2020-10-20 05:36] andxu opened #1179 "Create function will fail if the function name contains '-'"

[2020-10-20 06:57] pl07 commented on #1177
Test pass in new pr.

[2020-10-20 06:57] #1177 closed

[2020-10-22 02:40] ericis opened #1180 "WebApp command-line parameter for authentication.serverId?"
On a CI server, I would like to dynamically override the plugin's authentication by using the Maven "settings.xml" file and command-line parameters.

However, for `webapp`, I cannot figure out how to set the authentication type to ANYTHING other than auto and force it to instead use `service_principal`. I can either set it to one or the other in `pom.xml`, but I cannot figure out how to override i

[2020-10-22 02:49] ericis commented on #1180
https://stackoverflow.com/questions/64474519/how-to-dynamically-inject-authentication-into-azure-webapp-maven-plugin

[2020-10-22 03:03] mmzh opened #1181 "deploy function app in ASE"
Hi Guys, does current pom.xml support functions in App Service Environment? when I deploy java into serverless plan it's working, but when I try ASE it fails. it says "properties has invalid value".

if current version support function in ASE, where is the documentation?  if not, can we add this?

[2020-10-22 14:13] Flanker32 commented on #1175
@JV-TMCZ Thanks a lot for your report and really sorry for the late reply. For now there is no zip like goal in functions-maven-plugin, `package` will prepare all the resources in staging folder (by default `$(project_base)/target/azure-functions/$(your_app_name)`), and you may package the staging folder as a workaround(That's what `deploy` do). Besides, you may also try the azure-functions-gradle

[2020-10-22 16:06] ericis opened #1182 "azure:login does not appear to support service principal login"
From the `azure:login` [authentication documentation](https://docs.microsoft.com/en-us/java/api/overview/azure/maven/azure-maven-plugin/authentication).

### Plugin name and version

[code]

### Plugin configuration in your `pom.xml`

### Expected behavior

Logs in with Service Principal credentials.

### Actual behavior

Prompts for interactive device login with URL and login code. Works [as docu

[2020-10-24 07:46] #581 closed

[2020-10-26 10:10] blacelle opened #1183 "azure-webapp-maven-plugin:1.12.0 seems not compatible with Containers deployement anymore"
My case fits https://docs.microsoft.com/en-us/azure/app-service/tutorial-custom-container?pivots=container-linux, which was referred by the README.md in 1.11.0, but not anymore in 1.12.0

https://github.com/microsoft/azure-maven-plugins/tree/azure-webapp-maven-plugin-1.11.0/azure-webapp-maven-plugin#overview

### Plugin name and version
azure-webapp-maven-plugin:1.12.0

### Plugin configuration in

[2020-10-29 09:00] ZhengJun003 opened #1185 "An API incompatibility was encountered when config/deploy spring project"
### Plugin name and version
azure-spring-cloud-maven-plugin:1.4.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
[code]

### Actual behavior
[code]
[code]

### Steps to reproduce the problem

1. Install https://github.com/microsoft/azure-maven-plugins/tree/miller/refactor-modules
2. git clone https://github.com/spring-projects/spring-petclinic.git
3. execute cd spring-petclinic and mvn clean

[2020-10-30 05:55] ZhengJun003 commented on #1185
Test this issue in this PR [1186](https://github.com/microsoft/azure-maven-plugins/pull/1186), it's fixed, so close this issue

[2020-10-30 05:55] #1185 closed

[2020-10-30 08:50] ZhengJun003 opened #1187 "Can't convert string "1" to an integer"
### Plugin name and version
azure-spring-cloud-maven-plugin:1.4.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
![image](https://user-images.githubusercontent.com/41051257/97677614-7ba59880-1acd-11eb-8b34-f334b4b73bac.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/41051257/97677622-7e07f280-1acd-11eb-94b7-7f118d559f9c.png)

### Steps

[2020-10-30 10:04] andxu commented on #1183
Hi @blacelle, really sorry about the break for your case, in 1.12.0, we changed the default value of schemaVersion from v1 to v2, in this [PR](https://github.com/microsoft/azure-maven-plugins/pull/1171), I have two ideas for you:
1. Switch to v2 schema
[code]

2.  Add `<schemaVersion>v1<schemaVersion>` under the <configuration> element

[2020-10-30 10:06] andxu commented on #1183
For 1.12.0, you need to declare v1 explicitly,  and v2 will be the default schemaVersion

[2020-10-30 10:12] andxu commented on #1182
Hi @ericis, the mvn login goal is designed as a backup plan for users who doesn't have azure cli, it is to pull the azure credentials to local like azure cli: `az login`, but it is very limited to two login ways: device login and oauth( unlike azure cli, it supports much more login ways including service principal), if you have service principle, you need not to login use maven azure plugin, use t

[2020-10-30 10:15] andxu commented on #1181
Sorry @mmzh , we don't support ASE and yet there is no plan to support it in the near future.

[2020-10-30 10:29] andxu commented on #1180
Hi @ericis,  could you try to use this(since 1.9.0):
<configuration>
     <authType>service_principal</authType>
</configuration>
see detailed document:
https://github.com/microsoft/azure-maven-plugins/wiki/Authentication#authtype-since-web-app-190

[2020-10-30 10:32] andxu commented on #1139
We cannot help since our dependency azure java sdk have version conflictions:
see this issue:
https://github.com/Azure/azure-sdk-for-java/issues/14898

[2020-10-30 13:44] ericis commented on #1182
Closing for "as designed" since there is an alternative.

[2020-10-30 13:44] #1182 closed

[2020-10-30 13:50] ericis commented on #1180
@andxu Yes, I had tried that configuration with `authType` and had referenced that documentation.

This issue is not about how to modify the "pom.xml", but instead how to pass the values using Maven command parameters. I was not able to dynamically inject the values.

I found a work-around using `<profile>` to override the configuration, but would prefer dynamic configuration through command args.

[2020-11-02 00:09] andxu commented on #1180
hi, we will add  a parameter for that and comment it here.

[2020-11-02 07:52] #1187 closed

[2020-11-06 00:43] andxu commented on #1179
Fixed in #1190

[2020-11-06 00:43] #1179 closed

[2020-11-10 08:39] markuscodes1 commented on #1088
@Flanker32 Is this problem only related to java applications? I have a similar issue with the NodeJs and Docker runtime.

[2020-11-12 04:56] Flanker32 commented on #1088
@markuscodes1 I didn't meet this issue in other language before, I've reported to App Service team and pending for their updates.

[2020-11-16 01:55] Flanker32 commented on #1088
@yoshioterada @gcharters @yoshioterada Thanks a lot for your support, here is the reply from our service team

    Original:
    `<httpEndpoint id="defaultHttpEndpoint" httpPort="80" httpsPort="443" />`
    Updated (Fixed):
    `<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="80" httpsPort="443" />`
    It looks like the problem was caused because the default value of host is “localhost”

[2020-11-16 17:28] austin0 commented on #1088
I've been able to reproduce this today using OpenLiberty 20.0.0.11.

[code]

Docker logs:
[code]

However, I've verified that Open Liberty does work when containerized and then loaded as a web app from an Azure container registry.

[2020-11-17 03:49] QiAnXinCodeSafe opened #1195 "There is a vulnerability in jetty 9.4.20.v20190813,upgrade recommended"
https://github.com/microsoft/azure-maven-plugins/blob/51d4342ed0ba98a0529b75be5bb526b2b4108f6a/azure-maven-plugins-pom/pom.xml#L72

CVE-2020-27216

Recommended upgrade version：9.4.33.v20201020

[2020-11-20 15:19] austin0 commented on #1088
@yoshioterada have you had a chance to test this fix yet? I've not been able to make any progress with the fix given by @Flanker32.

[2020-11-21 14:30] #1175 closed

[2020-11-23 16:06] austin0 commented on #1088
The fix posted above by @Flanker32 works, just had to be aware of which ports were being mapped where.

If using ports 80 and 443 in your `server.xml` for Open Liberty, you do not need to map any ports in your `pom.xml`.

If using the default Open Liberty ports of 9080 and 9443, you need the following in your `pom.xml`

**pom.xml**:
[code]

Hope this helps @yoshioterada.

[2020-11-25 02:46] yoshioterada commented on #1088
Yes, I also confirmed when I configured the `host="*"` like following in server.xml.

[code]

Thank you so much & Best Regards.
Yoshio.

[2020-11-25 02:46] #1088 closed

[2020-11-25 23:53] yojagad opened #1197 "[Functions]Templates for RabbitMQ"
In effort to GA RabbitMQ extension, we currently have templates for non-dotnet languages
https://github.com/Azure/azure-functions-templates/pull/995

We need templates for java as well.

Related java library that defines annotations can be found in the repository. https://www.github.com/Azure/azure-functions-rabbitmq-extension

cc: @cachai2

[2020-11-25 23:55] pragnagopa commented on #1197
@Flanker32 / @andxu - please let us know if you need any info from us.

[2020-11-26 03:06] Flanker32 commented on #1197
@pragnagopa So we will have an new trigger type `RabbitMQTrigger` and need to support it in maven tooling right? Will it be covered in `azure-functions-java-library` or it will keep in `azure-functions-rabbitmq-extension` and will be treated as a CustomBinding?

@yojagad For the templates, do you mean we need to provide a sample project for this trigger? For now we don't have java function templat

[2020-11-30 22:32] yojagad commented on #1197
@Flanker32 This is part of `azure-functions-rabbitmq-extension` treated as a custom binding (https://github.com/Azure/azure-functions-rabbitmq-extension/tree/dev/binding-library/java) . Version 1.0.0-beta of `azure-functions-java-library-rabbit` was released on mvn central a week or so ago. Templates specified in https://github.com/Azure/azure-functions-templates allow quick creation of functions

[2020-11-30 22:51] pragnagopa commented on #1197
@Flanker32 - @yojagad added details. Yes, We are looking for similar experience to other triggers / output bindings supported by mvn plugin

[2020-12-01 23:24] SadokLadhari commented on #546
Hi @Flanker32 any news about this issue ? @zhoufenqin @sophiaso any workaround please ?

[2020-12-02 04:19] Flanker32 commented on #546
@SadokLadhari Thanks for your report, SDK has fixed the issue and we will add correspond parameter in later releases. I'll update here once there are updates

[2020-12-07 08:30] Flanker32 commented on #1197
@yojagad @pragnagopa, Thank you all for your updates and sorry for the late reply, so here is the work items for the new trigger:
- Verify maven plugin could work with the new annotation, as `RabbitMQ` is a CustomBinding which should be supported in current release
- Add template in `azure-functions:add` for `RabbitMQ`, which is also used in VSCode Azure Function Extensions
    * It seems that the

[2020-12-08 18:50] yojagad commented on #1197
[code]

Since we're only looking to create a QuickStart experience, the fastest way to start would be to prompt just for `connectionStringSetting` and `queueName` . The binding works in a way such that if `connectionStringSetting` is set, it ignores the rest of the parameters even if present.

[code]

Yes, it would be great if the `azure-functions-java-library-rabbitmq` is automatically included a

[2020-12-15 23:18] dante-ricalde commented on #1135
I have tested the plugin 1.10.0-SNAPSHOT and it's validating againts the jar name...I think this validation is only taking into account jar files...in my case I was using the version 1.6.0 to deploy a graal native image to azure functions and it was working ok...but now using the version 1.10.0-SNAPSHOT from branch develop is not working because it's validating against a jar file...but I don't hav

[2020-12-16 19:59] blacelle opened #1201 "Slow deployement of Docker AppService"
### Plugin name and version
[code]

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
The deployment to be faster

### Actual behavior
The deployement takes 3 minutes without logging, then 20 seconds with expressive logs. What's going on in these 3 minutes?

[code]

[2020-12-19 23:22] noce2 commented on #1044
@Flanker32 hi, please could you give an indication of when a fix is coming? I'm seeing this issue as well with the `azure-functions-maven-plugin 1.9.0`.

[2021-01-08 17:46] iyunbo opened #1209 "Use azure-maven-plugin to deploy python custom docker image"
While deploying custom docker image with python runtime,
the worker runtime is overwritten by java, due to

https://github.com/microsoft/azure-maven-plugins/blob/5d8e6b9d5bc171b9b4b7570072b9bdb72fc0c434/azure-functions-maven-plugin/src/main/java/com/microsoft/azure/maven/function/AbstractFunctionMojo.java#L99-L100

can you enable the deployment for python in case of  custom image?

In fact, this l

[2021-01-11 08:55] pl07 opened #1210 "Select subs twice in config command when authtype isn't azure cli"
### Plugin name and version
Azure-webapp-maven-plugin:1.13.0-SNAPSHOT

### Actual behavior
![image](https://user-images.githubusercontent.com/46642771/104161289-967d7d00-542d-11eb-8f18-3a5b7d140adf.png)

### Steps to reproduce the problem
1. Create a new web app project
2. Clear .azure folder, not specify authType in configuration
3. Run mvn azure-webapp:config

[2021-01-11 09:45] SunnyChen1 opened #1211 "Show NullPointer Exception when deploy function with authType: MANAGED_IDENTITY on cloud shell platform"
**Plugin name and version**
OS: Win
Plugin: azure-functions-maven-plugin 1.10.0-SNAPSHOT

**Plugin configuration in your pom.xml**
[code]

**Actual behavior**
![image](https://user-images.githubusercontent.com/63633836/104164762-61742900-5433-11eb-961c-379534d9dd0b.png)

[2021-01-11 09:48] ZhengJun003 commented on #1211
This issue reproduces in cloud shell and virtual machines.

[2021-01-11 11:10] EspenSchei commented on #1175
@ghLinks : For future reference, your problem can be solved by downgrading azure-functions-maven-plugin to version 1.6.
I got the same error in version 1.9, which was added when I created a project with maven archetype.

[2021-01-11 11:37] EspenSchei opened #1212 "azure-functions-maven-plugin:1.9.0:package fails with NullPointerException"
### Plugin name and version
- **Plugin**: azure-functions-maven-plugin:1.9.0
- **Maven version**: Apache Maven 3.6.3

### Plugin configuration in your `pom.xml`
Generated with maven archetype.
[code]
### Expected behavior
`mvn azure-functions:package` should package the function.

### Actual behavior
Build fails with NullPointerException.
[code]
### Steps to reproduce the problem
1. Create new pro

[2021-01-12 03:10] pl07 commented on #1210
Test pass in new pr, close this issue.

[2021-01-12 03:10] #1210 closed

[2021-01-12 05:34] SunnyChen1 commented on #1211
Verify fixed, close it.

[2021-01-12 05:34] #1211 closed

[2021-01-12 11:14] Flanker32 commented on #1212
@EspenSchei Thanks for your report, I'm investigating this issue and will update here once there are updates

[2021-01-13 08:21] SunnyChen1 opened #1216 "Show error info when use auto to auth and select default authType is OAUTH2"
### Plugin name and version

OS: MAC
Plugin: azure-functions-maven-plugin 1.10.0-SNAPSHOT
            azure spring cloud maven plugin 1.4.0-SNAPSHOT
            Azure-webapp-maven-plugin:1.13.0-SNAPSHOT

**Plugin configuration in your pom.xml**
[code]
**Actual behavior**
![image](https://user-images.githubusercontent.com/63633836/104423482-1e43c280-55b9-11eb-9b4c-555d08af852d.png)

[2021-01-13 08:24] ZhengJun003 opened #1217 "Can't find azure spring cloud service when use sp auth"
### Plugin name and version
OS: Mac
Plugin: azure-spring-cloud-maven-plugin 1.4.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
[code]

### Actual behavior
I haven created azure spring cloud service under this sb, but the plugin can't find it
![image](https://user-images.githubusercontent.com/41051257/104425199-55b36e80-55bb-11eb-82f7-d7479fb4c10e.png)

[2021-01-15 10:35] ZhengJun003 commented on #1217
Test in-branch andy-auth-wip, this issue is fixed, so close this issue

[2021-01-15 10:35] #1217 closed

[2021-01-17 05:31] BenHunt-io opened #1221 "Cannot deploy microprofile jar to app service. Socket timeout and 404's"
### Plugin name and version
**Name:** azure-webapp-maven-plugin
**Version:** 1.12
### Plugin configuration in your `pom.xml`

The formatting of the code seems to be off. It might easier to check at my repo: https://github.com/BenHunt-io/payaramicro-azure-helloworld.

`<build>
    <finalName>payaramicro-hello-azure</finalName>
    <plugins>
      <plugin>
        <groupId>com.microsoft.azure</group

[2021-01-17 13:13] Flanker32 commented on #1221
@BenHunt-io Thanks for your letter, i tried to clone your repository and run the jar locally with `java -jar payaramicro-hello-azure-microbundle.jar`, but it failed with "Failed to connect to 127.0.0.1 port 443: Connection refused", could you please help me check this issue?

[2021-01-17 13:53] BenHunt-io commented on #1221
I'm sorry you're not able to run locally. Do you have the correct java version installed and JAVA_HOME set for maven when you build the jar?

I'm essentially using this configuration off of [microprofile-starter.io](https://start.microprofile.io/)

![image](https://user-images.githubusercontent.com/25158608/104845044-04e09600-5899-11eb-8e26-5a5c205a6d5f.png)

[2021-01-17 15:58] BenHunt-io commented on #1221
I may have figured out the issue and it seems to be due to my ignorance on how micro profile and the payara-micro runtime actually work. It seems like the microbundle.jar depends on other things that are built from maven and can't be with with just the jar alone. I figured this out when I started making a docker container to deploy the application instead. I was only copying over the jar file and

[2021-01-18 05:29] chenyuanmac opened #1222 "Pop up java.lang.NullPointerException when run config command in cloud shell."
**Plugin name and version**
Azure-webapp-maven-plugin:1.13.0-SNAPSHOT

**Actual behavior**
![image](https://user-images.githubusercontent.com/70991161/104875689-dd6cf480-5990-11eb-8046-bd39b0ec6272.png)

**Steps to reproduce the problem**
1.Create a new web app project
2.Open the project in cloud shell and clear .azure folder
3.Run mvn azure-webapp:config

[2021-01-18 08:06] #1222 closed

[2021-01-19 08:37] ParimaladeviVadivel commented on #1139
Is there plan to resolve the issue in upcoming nimbus-jose-jwt plugin version?

Can you please provide an update on this when this issue will get resolved rather than applying an workaround

[2021-01-19 10:40] andxu commented on #1180
hi @ericis, we plan to add some -D arguments in this release for the complex properties:
[code]
the current version available already supports  first level of parameter for:

- -DschemaVersion=?
- -DallowTelemetry=?
- -DauthType=?
- -DhttpProxyHost=?
- -DhttpProxyPort=?
- -DsubscriptionId=?
- -DresourceGroup=?
- -DappName=?
- -Dwebapp.pricingTier=?
- -Dwebapp.region=?
- -DappServicePlanName=?
- -D

[2021-01-19 22:05] cachai2 commented on #1197
Is there an ETA for when we could get MVN templates for RabbitMQ?

[2021-01-20 08:36] Flanker32 opened #1232 "Artifact deployed with `RUN_FROM_BLOB` was created with public access"
Artifact deployed with `RUN_FROM_BLOB` was created with `BLOB` access, which may make customers’ code available publicly.

Codes: https://github.com/microsoft/azure-maven-plugins/blob/develop/azure-tools-common/src/main/java/com/microsoft/azure/common/function/AzureStorageHelper.java#L40

[2021-01-21 03:30] ZhengJun003 commented on #1216
This issue is fixed
![image](https://user-images.githubusercontent.com/41051257/105276296-09c88100-5bdc-11eb-95e5-89c3b65c4115.png)

[2021-01-21 05:19] #1216 closed

[2021-01-22 06:35] andxu commented on #844
fixed in https://github.com/microsoft/azure-maven-plugins/pull/1240

[2021-01-22 06:38] pl07 opened #1241 "Pop up stream closed error when deploy to azure spring cloud"
### Plugin name and version
OS: Win
Plugin: azure-spring-cloud-maven-plugin 1.4.0-SNAPSHOT
### Steps to reproduce the problem
https://github.com/microsoft/azure-maven-plugins/blob/develop/azure-spring-cloud-maven-plugin/QUICKSTART.md
### Actual behavior
![image](https://user-images.githubusercontent.com/46642771/105455849-28ec0f00-5cbf-11eb-93cb-43b77e30e8b1.png)
[code]

[2021-01-22 06:56] pl07 opened #1242 "Font color turn blue if ctrl+c when ask to confirm tasks"
### Plugin name and version
OS: Win
Plugin: azure-spring-cloud-maven-plugin 1.4.0-SNAPSHOT

### Actual behavior
Default font color is white, after ctrl+c, it turns white
![image](https://user-images.githubusercontent.com/46642771/105456750-ab290300-5cc0-11eb-9d7b-a56ccc7d537d.png)

### Steps to reproduce the problem
1. Run mvn azure-spring-cloud:deploy.
2. When be asked to confirm tasks, press ctr

[2021-01-22 07:26] pl07 opened #1243 "Deployment name not highlight in scale deployment info"
### Plugin name and version
OS: Win
Plugin: azure-spring-cloud-maven-plugin 1.4.0-SNAPSHOT
### Steps to reproduce the problem
Change configuration parameters to update the deployment.
### Actual behavior
![image](https://user-images.githubusercontent.com/46642771/105459955-07425600-5cc6-11eb-906d-e55360b182bc.png)

[2021-01-22 07:34] pl07 opened #1244 "Show same warning message twice"
### Plugin name and version
OS: Win
Plugin: azure-spring-cloud-maven-plugin 1.4.0-SNAPSHOT

### Actual behavior
![image](https://user-images.githubusercontent.com/46642771/105460778-41602780-5cc7-11eb-929e-e5b51b3aeb99.png)

[2021-01-22 08:48] ZhengJun003 opened #1246 "Deployment active/inactive strategy is not consistent with marketplace product"
### Plugin name and version

- OS: Win/Mac
- Plugin: azure-spring-cloud-maven-plugin 1.4.0-SNAPSHOT

### Plugin configuration in your `pom.xml`

- https://github.com/microsoft/azure-maven-plugins/blob/develop/azure-spring-cloud-maven-plugin/QUICKSTART.md

### Expected behavior

1. Plugin will create a new deployment and inactivate it when no deployment name specified and 1 active deployment in cor

[2021-01-22 10:10] pl07 opened #1247 "Can't deploy slot in functions with linux runtime"
### Plugin name and version
 - OS: Win/Mac
 - Plugin: Azure-functions-maven-plugin 1.9.1
### Plugin configuration in your `pom.xml`
[code]
### Actual behavior
![image](https://user-images.githubusercontent.com/46642771/105477361-b68a2780-5cdc-11eb-8909-322a07ffb084.png)

[code]

[2021-01-22 10:19] ZhengJun003 opened #1248 "Deploy function app failed with linux runtime sometimes"
### Plugin name and version

- OS: Win/Mac
- Plugin: Azure-functions-maven-plugin 1.9.1

### Plugin configuration in your `pom.xml`
[code]

### Actual behavior
[code]

[2021-01-22 14:42] iyunbo commented on #1209
any update please ?

[2021-01-24 10:04] Flanker32 opened #1251 "Validate kudu app settings while function deployment"
There may be a race condition between applying the application setting RUN_FROM_PACKAGE and post the deploy step for the function. We need to hold the deployment until kudu app settings updated.

[2021-01-24 12:48] Flanker32 commented on #1209
@iyunbo Thanks a lot for your advice, here is the pr for this issue https://github.com/microsoft/azure-maven-plugins/pull/1250

[2021-01-24 18:39] yaseenmd opened #1254 "How to generate TimeTrigger function by maven"
### Plugin name and version
Azure-functions-archetype
1.33

### Plugin configuration in your `pom.xml`

### Expected behavior
By default it generates the httptrigger function and its configuration.
How to generate  TimeTrigger function

### Actual behavior

### Steps to reproduce the problem

[2021-01-25 02:39] ZhengJun003 commented on #1248
Test in bits commicrosoftazure-4465, this issue is fixed.

[2021-01-25 02:39] #1248 closed

[2021-01-25 02:39] ZhengJun003 commented on #1247
Test in bits commicrosoftazure-4465, this issue is fixed

[2021-01-25 02:40] #1247 closed

[2021-01-26 02:06] #1244 closed

[2021-01-26 02:06] #1246 closed

[2021-01-26 07:35] ZhengJun003 commented on #1244
This issue is fixed
![image](https://user-images.githubusercontent.com/41051257/105814237-0d00aa00-5fec-11eb-9d02-6feaa021e4ac.png)

[2021-01-26 07:50] ZhengJun003 commented on #1241
Test in latest develop branch, this issue is also reproduce

[2021-01-26 07:55] ZhengJun003 commented on #1243
Test in latest develop branch, this issue is fixed
![image](https://user-images.githubusercontent.com/41051257/105816055-bf397100-5fee-11eb-9146-3f49ec516a00.png)

[2021-01-26 08:10] ZhengJun003 commented on #1242
Test in latest develop branch, this issue is fixed
![image](https://user-images.githubusercontent.com/41051257/105815765-623dbb00-5fee-11eb-82fd-39bec13de4a6.png)

[2021-01-26 08:11] #1242 closed

[2021-01-26 08:35] ZhengJun003 opened #1261 "Can't create/update a deployment with user's specify deployment name"
### Plugin name and version

- OS: Win/Mac
- Plugin: azure-spring-cloud-maven-plugin 1.4.0-SNAPSHOT

### Actual behavior
Always create or update `default `deployment
![image](https://user-images.githubusercontent.com/41051257/105820321-6240b980-5ff4-11eb-920f-624e36bc2908.png)

[2021-01-27 02:36] ZhengJun003 opened #1266 "Asking user select subscription again when already using vscode auth to selected one subscription"
### Plugin name and version

- OS: Win/Mac
- Plugin: azure-spring-cloud-maven-plugin 1.4.0-SNAPSHOT

### Actual behavior
![image](https://user-images.githubusercontent.com/41051257/105934539-5d7b1480-608b-11eb-9b85-72154cc2f416.png)

[2021-01-27 08:01] ZhengJun003 commented on #1261
Test in develop branch, this issue is fixed
![image](https://user-images.githubusercontent.com/41051257/105960793-a8f7e780-60b8-11eb-96ef-4c0964fa3ccd.png)

[2021-01-27 08:01] #1261 closed

[2021-01-27 08:08] ZhengJun003 commented on #1241
Test in develop branch, this issue is fixed
![image](https://user-images.githubusercontent.com/41051257/105960738-99789e80-60b8-11eb-9500-272b424ac972.png)

[2021-01-27 08:09] #1241 closed

[2021-01-27 13:56] Flanker32 commented on #1254
@yaseenmd Thanks for your support and sorry for the delay, we are working on the trigger selection in archetype and here is the [pr](https://github.com/microsoft/azure-maven-archetypes/pull/163), which will be in next release. Before the new archetype, you may create a function project with archetype first, and use `mvn azure-functions:add` to create other triggers.

[2021-01-28 02:34] #844 closed

[2021-01-28 02:34] andxu commented on #520
https://github.com/microsoft/azure-maven-plugins/wiki/Proxy

[2021-01-28 02:36] andxu commented on #520
@syr  -DproxyHost=myproxy.com -DproxyPort=8080  will work in new release: 1.13.0(available before Feb 5  2021), could you please try it then?

[2021-01-28 07:58] chenyuanmac opened #1280 "Pop up error when user skip the <runtime> configuration."
### Plugin name and version

Azure-webapp-maven-plugin:1.13.0-SNAPSHOT

### Actual behavior

![image](https://user-images.githubusercontent.com/70991161/106107123-7d8cff80-6181-11eb-8dbd-fe3e54a931db.png)

### Steps to reproduce the problem

1.Skip the runtime configuration
2.Run mvn azure-webapp:deploy

[2021-01-28 08:13] pl07 opened #1281 "Not print current subs when deploy web apps"
### Plugin name and version
 - OS: Win/Mac
 - Plugin: Azure-webapp-maven-plugin:1.13.0-SNAPSHOT

### Expected behavior
Print both default subscription in azure cli, and current subscripiton when deploy web apps (the subs configed in pom)
![image](https://user-images.githubusercontent.com/46642771/106107824-600c6580-6182-11eb-95a3-29074b8dd35e.png)

### Actual behavior
Print only default subscripti

[2021-01-28 09:01] pl07 opened #1282 "Can't deploy external resources to outside wwwroot"
### Plugin name and version
 - OS: Mac
 - Plugin: Azure-webapp-maven-plugin:1.13.0-SNAPSHOT
### Plugin configuration in your `pom.xml`
[code]
### Actual behavior

[INFO] Successfully created Web App webapp128www.
[INFO] Trying to deploy artifact to webapp128www...
[ERROR] Status code 500, "{​​​​​​​"Message":"An error has occurred.","ExceptionMessage":"End of Central Directory record could not be f

[2021-01-28 10:03] chenyuanmac opened #1283 "The app service plan will be identified as resource group when user specify<appServicePlanResourceGroup>in configuration"
### Plugin name and version

OS: Win/Mac
Plugin: Azure-webapp-maven-plugin:1.13.0-SNAPSHOT

### Actual behavior

![image](https://user-images.githubusercontent.com/70991161/106221945-7e717000-6219-11eb-82fb-415b4a993852.png)

### Steps to reproduce the problem
1.Specify appServicePlanResourceGroup in configuration
2.Run mvn azure-webapp:deploy

### Plugin configuration in your pom.xml

![image](ht

[2021-01-29 09:02] iyunbo commented on #1209
Excellent news

[2021-02-02 15:14] Sarrouna commented on #988
Hi @hemonth I'm sorry about my comment in a closed issue. But really need to some suggestions from you about almost the same issue mentioned above:

https://github.com/exasol/hadoop-etl-udfs/issues/59

Do you have some updates about the issue please ?
Could you please take a look on it ? Thanks in advance

[2021-02-05 06:04] pl07 commented on #1281
Test pass and close it.

[2021-02-05 06:04] #1281 closed

[2021-02-05 06:18] pl07 commented on #1282
Test pass.

[2021-02-05 06:18] #1282 closed

[2021-02-05 09:09] pl07 opened #1306 "No warning message when mix-deploy the war artifact with other kind of artifacts"
### Plugin name and version
Azure-webapp-maven-plugin:1.13.0
### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
![image](https://user-images.githubusercontent.com/46642771/107012647-3f708b00-67d4-11eb-97ec-4cdb0c404254.png)

### Actual behavior
Just do the deploy without warning.
### Steps to reproduce the problem
1. Run `mvn clean package` to package a .war, change `<packagin

[2021-02-05 09:37] pl07 opened #1307 "Can't access url when deploy with jboss"
### Plugin name and version
Azure-webapp-maven-plugin:1.13.0
### Plugin configuration in your `pom.xml`
[code]

### Actual behavior
![image](https://user-images.githubusercontent.com/46642771/107016259-b1e36a00-67d8-11eb-848f-e2eeb34bdf33.png)

[2021-02-10 05:14] #878 closed

[2021-02-12 18:09] viters commented on #1112
@Flanker32

I was using azure_cli authentication method. By the way, is Azure CLI required for this plugin or it is only required for azure_cli authentication?

[2021-02-22 09:45] chenyuanmac opened #1318 "Pop up error when run config command"
### Plugin name and version

Azure-webapp-maven-plugin:1.14.0-SNAPSHOT

### Actual behavior

![image](https://user-images.githubusercontent.com/70991161/108690472-5f72af00-7535-11eb-8168-29d774cae40e.png)

### Steps to reproduce the problem
1.Don't az login locally;
2.Go to the root directory of the project  and run command "mvn com.microsoft.azure:azure-webapp-maven-plugin:1.14.0-SNAPSHOT:config"

[2021-02-22 17:51] jakesmolka opened #1319 "azure-webapp-maven-plugin:1.13.0:config infinite error loop"
### Plugin name and version

com.microsoft.azure:azure-webapp-maven-plugin:1.12.0:config

and

com.microsoft.azure:azure-webapp-maven-plugin:1.13.0:config

### Plugin configuration in your `pom.xml`

Initially nothing, because this issue happens on `:config`.

### Expected behavior

`mvn com.microsoft.azure:azure-webapp-maven-plugin:1.13.0:config` allows me to configure my maven project like in th

[2021-02-23 06:35] chenyuanmac commented on #1318
Test pass and close it.

[2021-02-23 06:36] chenyuanmac commented on #1318
Test pass and close it.

[2021-02-23 06:36] #1283 closed

[2021-02-23 06:37] chenyuanmac commented on #1283
Test pass and close it.

[2021-02-23 06:37] #1280 closed

[2021-02-23 06:37] chenyuanmac commented on #1280
Test pass and close it.

[2021-02-26 14:48] #1254 closed

[2021-03-03 15:59] sijucm opened #1340 "azure-functions-maven-plugin : package creates weird files in root folder and tries to download core function tools"
### Plugin name and version
azure-functions-maven-plugin  1.9.2
### Plugin configuration in your `pom.xml`
Not relevant
### Expected behavior
package creates the function.json, etc in the target folder and DOES NOT create obj/ and extensions.csproj in the root folder. Also, this does not try to download the function core tools (because it fails in my azure pipeline). Examples for this tries to cop

[2021-03-08 00:29] YusukeTobo opened #1343 "Java 11 is still GA in Functions even though the console log shows it's in preview."
### Plugin name and version
azure-functions-maven-plugin:1.9.1

### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
the log should be removed.

### Actual behavior
[INFO] --- azure-functions-maven-plugin:1.9.1:deploy (default-cli) @ *** ---
[INFO] Using Java 11 (Preview) runtime.

### Steps to reproduce the problem
mvn package com.microsoft.azure:azure-functions-maven-plugin:de

[2021-03-08 12:10] jdubois commented on #1212
@Flanker32 I'm having the same issue with plugin version 1.9.2 -> the PR is merged, but the ticket is still opened, does this mean this isn't released yet? It's a blocker issue to package an Azure Function that you want to deploy using the Azure Functions GitHub Action (not using the plugin to deploy)

[2021-03-09 10:09] #1343 closed

[2021-03-13 13:59] itsandreramon commented on #1212
Having the same problem on 1.9.2

[2021-03-13 14:06] jdubois commented on #1212
@itsandreramon the PR is merged, but I talked to the team and it’s not released yet.

[2021-03-13 17:45] sharebear commented on #1212
@jdubois As mentioned in the issue description we have not experienced any problems  downgrading to 1.6.0 until the fix is released and deploy using the Azure Functions GitHub Action regularly.

Also if I understand the fix correctly I think the current version would work if you bind the the execution to maven's `package` lifecycle phase rather than running it separately, but I've not had the time

[2021-03-13 20:39] jdubois commented on #1212
Yes I confirm v1.6.0 works, but I wouldn’t recommend using it (for reasons I can’t detail publicly, unfortunately)

[2021-03-14 07:39] Flanker32 commented on #1212
@jdubois @itsandreramon @sharebear Thank you al for your support. I'm sorry but the fixes is still not released, as a workaround, please use `mvn package` if you want to package the function,  I'll update here once the fix is released.

[2021-03-15 19:58] pauldaustin opened #1351 "Cannot use use byte[] when running in azure-functions-maven-plugin"
### Plugin name and version
azure-functions-maven-plugin 1.9.2

### Plugin configuration in your `pom.xml`
App was created using archetype
[code]

[code]

### Expected behavior
Works with HttpRequestMessage<Optional<byte[]>>, only works with HttpRequestMessage<Optional<String>>.

### Actual behavior

[code]

### Steps to reproduce the problem
`curl --request POST 'http://localhost:7071/api/Echo' -

[2021-03-16 14:27] Flanker32 commented on #1319
@jakesmolka Thanks a lot for your report and really sorry for the late reply, we will looking into the issue soon.

[2021-03-16 14:39] Flanker32 commented on #1351
@pauldaustin Thanks for your report.  @amamounelsayed Could you please help check this issue?

[2021-03-17 07:35] chenyuanmac opened #1354 "Pop up NullPointerException when run config and deploy command in Azure Cloud Shell"
### Plugin name and version

Azure-webapp-maven-plugin:1.14.0-SNAPSHOT

### Plugin configuration in your `pom.xml`

Config:
![image](https://user-images.githubusercontent.com/70991161/111430099-dd8d3480-8734-11eb-9bb9-f2d157a656eb.png)

Deploy:
![image](https://user-images.githubusercontent.com/70991161/111430669-a5d2bc80-8735-11eb-88ca-3b3efe2bc210.png)

### Actual behavior

![image](https://user

[2021-03-18 07:42] m-moris opened #1356 "The function cannot be executed even though the environment variable 'AzureWebJobsStorage' is set."
## Plugin in version.
azure-functions-maven-plugin:1.9.2

## Reproduce steps.

Set the storage connection strings to envrionment variable 'AzureWebJobsStorage'.

[code]

The value of `AzureWebJobsStorage` in `local.settings.json` is empty.

[code]

When you execute `mvn azure-functions:run` command, you will see following messages.

But  you execute  `func host start` command directly, it works co

[2021-03-18 20:14] pauldaustin commented on #1351
One further comment. It seems that if I pass in the content-type application/octet-stream in the HTTP request it will work. But other values such as application/pdf throw the error.

In my view it shouldn't be a requirement to set the content type to application/octet-stream if you want to receive the content as a byte[].

I think the Azure Function deployment also has a similar issue.

I've actua

[2021-03-19 03:28] Flanker32 commented on #1356
@m-moris Thanks for your report, maven plugin just call `func host start` with no app settings value validation during `run` task, I'll check it soon and will update here once there are updates.

[2021-03-20 20:01] CaymanTurtleBeach opened #1359 "Warning about illegal reflective access at least since azure-maven-plugin 1.4.2"
### azure.functions.maven.plugin

###
 `    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <maven.compiler.source>11</maven.compiler.source>
        <maven.compiler.target>11</maven.compiler.target>
        <azure.functions.maven.plugin.version>1.9.2</azure.functions.maven.plugin.version>
        <azure.functions.java.library.version>1.4.2</azure.fu

[2021-03-21 07:05] Flanker32 commented on #1359
@CaymanTurtleBeach Thanks for your report, the dependency is used to create AI insights for function, which is a code-less attach to provide detailed observability in to your application. We are still working with SDK team to solve this issue. I'll update here once there are updates.

[2021-03-21 07:55] Flanker32 commented on #1340
@sijucm Thanks for your report and really sorry for the late reply. Since Azure Functions 2.x, the functions runtime only includes HTTP and timer triggers by default. Other triggers and bindings are available as separate packages. So we need to install required extensions with function core tools,  which may create the `/obj` and `extensions.cspcsproj`

To solve this issue, we recommand to use fun

[2021-03-22 05:44] Flanker32 commented on #1197
@pragnagopa @yojagad @cachai2 Really sorry for the late response, we will add this feature in our next sprint release(end of April). There might be some more tasks to add the dependency, so for the first version, we will just add the template first, and show warning for users to add the dependency.
Do you have any link for doc so that we could show in warning to help user add the dependency? Or we

[2021-03-22 14:33] pragnagopa commented on #1197
@Flanker32  - thanks for getting back to us!

@cachai2 - please chime on preferred user experience

@yojagad - is there azure-functions-java-library-rabbitmq 1.0.0 package - without beta flag?

[2021-03-22 15:59] cachai2 commented on #1197
@Flanker32 Thank you for the update. It would be great if we could add the steps in the template as a comment to reduce the need for customers to bounce around from the template to docs to get the necessary info.

@yojagad I remember that Fabio OK'd the package with beta flag for GA, but it would be good to update the package to remove the beta flag as it is creating some confusion.

[2021-03-24 07:58] Flanker32 commented on #1197
@cachai2 @pragnagopa It seems that there is only 1.0.0-beta version in maven repository, so shall we add the link to sonatype  in comment and users could always get the latest version there? Or do we have any docs could be used here?

[code]

[2021-03-24 14:37] pragnagopa commented on #1197
@Flanker32 - Thanks for getting back to us! We now have GA package without beta flag. @yojagad - please publish to mvn

[2021-03-24 14:38] pragnagopa commented on #1197
Tracking issue: https://github.com/Azure/azure-functions-rabbitmq-extension/issues/160 for publishing to mvn

[2021-03-25 08:43] andxu opened #1374 "[EndGame] Azure Functions Maven Plugin 1.10.0"
Prepare for releasing Azure Functions Maven Plugin 1.10.0

Tests:

- [x] Support @Retry annotation(andy)
- [x] Telemetry(hanli)
- [x] Switch to use identity in auth: azure cli, device code, oauth, sp (hanli)
- [x] Support non-java value FUNCTIONS_WORKER_RUNTIME (andy) https://github.com/microsoft/azure-maven-plugins/issues/1209
- [x] Fixes: mvn azure-functions:package fails with NullPointerExcepti

[2021-03-25 09:36] andxu commented on #1374
![image](https://user-images.githubusercontent.com/17075863/112451523-90dad680-8d90-11eb-9457-1c9194803d7e.png)

[2021-03-25 10:30] pl07 opened #1375 "Not print proxy log info when use java command line and system proxy"
### Plugin name and version
 - OS: Mac
 - Plugin: Azure-webapp-maven-plugin:1.10.0
### Expected behavior
![image](https://user-images.githubusercontent.com/46642771/112457428-b9fe6580-8d96-11eb-971d-8389f5676055.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/46642771/112457664-efa34e80-8d96-11eb-9fbb-b3b24ab55a3c.png)

[2021-03-25 10:42] #1375 closed

[2021-03-26 10:49] Iuzuz opened #1377 "Can not run java azure function locally, created using maven archetype:generate given on microsoft site using mvn azure-functions:run, not showing error. Its simply freezing."
### Plugin name and version:
        <java.version>1.8</java.version>
        <azure.functions.maven.plugin.version>1.9.2</azure.functions.maven.plugin.version>
        <azure.functions.java.library.version>1.4.0</azure.functions.java.library.version>

### Plugin configuration in your `pom.xml`
            <plugin>
                <groupId>com.microsoft.azure</groupId>
                <artifactId>

[2021-03-26 17:45] yojagad commented on #1197
@pragnagopa @Flanker32 @cachai2 1.0.0 is now up on mvn https://mvnrepository.com/artifact/com.microsoft.azure.functions/azure-functions-java-library-rabbitmq

[2021-03-27 02:20] Flanker32 commented on #1377
@luzuz Thanks for your report, maven plugin will invoke `func` to determine whether function core tools is installed correctly, however this may be blocked with the latest function core tools.
We have fixed the issue in https://github.com/microsoft/azure-maven-plugins/pull/1367, will be shipped in functions maven plugin 1.10.0. Before the release, you may use core tools 3.0.3311 or previous versio

[2021-03-28 07:25] Flanker32 commented on #1197
@yojagad Thanks for your updates! We will add the [template](https://github.com/microsoft/azure-maven-plugins/issues/1197#issuecomment-805588329) in our next release.

[2021-03-28 07:33] Iuzuz commented on #1377
@Flanker32 thank you!

[2021-03-29 15:28] darinhoward opened #1380 "Multi executable jars found when including application insights agent"
### Plugin name and version
azure-webapp-maven-plugin:1.13.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior

application jar and application insights agent jar and config upload and deploy.

### Actual behavior

I get the following error:
Multi executable jars found in <resources>, please check the configuration

I'm guessing this is related to including the application

[2021-03-31 02:08] glqdlt opened #1383 "(azure-functions-maven-plugin) mvn azure-functions:run cause deadlock"
### Enviroment

Windows 10 (version 1809)

openjdk version "1.8.0_242"
OpenJDK Runtime Environment (Zulu 8.44.0.11-CA-win64) (build 1.8.0_242-b20)
OpenJDK 64-Bit Server VM (Zulu 8.44.0.11-CA-win64) (build 25.242-b20, mixed mode)

Azure Functions Core Tools
Core Tools Version:       3.0.3388 Commit hash: fb42a4e0b7fdc85fbd0bcfc8d743ff7d509122ae
Function Runtime Version: 3.0.15371.0

Intelij IDEA 20

[2021-03-31 04:55] Flanker32 commented on #1377
@luzuz Thanks a lot for your help, functions maven plugin 1.10.0 has been released with fix for this issue.

[2021-03-31 04:55] #1377 closed

[2021-03-31 04:57] Flanker32 commented on #1212
@jdubois @itsandreramon @sharebear Thanks again for your help, functions maven plugin 1.10.0 has been released with fix for this issue.

[2021-03-31 04:57] #1212 closed

[2021-03-31 04:59] Flanker32 commented on #1209
@iyunbo Thanks for your help and really sorry for the delay, functions maven plugin 1.10.0 has been released with this feature, you may get the change log [here](https://github.com/microsoft/azure-maven-plugins/releases/tag/azure-functions-maven-plugin-1.10.0)

[2021-03-31 04:59] #1209 closed

[2021-03-31 07:11] kevin808 opened #1386 "Add feature for username and password for httpProxy"
### Plugin name and version
azure-maven-plugins, all versions, latest one is 1.10.0.

### Plugin configuration in your `pom.xml`
<code>
<httpProxyHost>proxyserver.com</httpProxyHost>
<httpProxyPort>8080</httpProxyPort>
</code>

### Expected behavior
Plugin can work with proxy server which requires username and password.

### Actual behavior
According to document: https://docs.microsoft.com/it-it/j

[2021-03-31 12:27] #1374 closed

[2021-03-31 19:46] vikramkamath opened #1388 "(azure-functions-maven-plugin) mvn azure-functions:deploy requires allowBlobPublicAccess to be set to true"
### Plugin name and version
azure-functions-maven-plugin 1.9.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
Keep the `allowPublicBlobAccess` to `false` and still be able to deploy artifacts
### Actual behavior
Unable to upload azure function artifacts to storage account linked with azure function unless `allowPublicBlobAccess` is set to true
Running `mvn azure-function

[2021-04-02 12:17] AimeSoleil opened #1390 "doc: update wiki guide about authType"
### Plugin name and version

azure-webapp-maven-plugin:1.12.0

### Plugin configuration in your `pom.xml`

😢  **Bad configuration**:

[code]
😄  **Good one**:

`<authType>azure_cli</authType>`

### Expected behavior

In Authentication wiki, expected to guide authType correctly.
The (official wiki example)[https://github.com/microsoft/azure-maven-plugins/wiki/Authentication#azure-cli] is using:
[cod

[2021-04-06 03:09] #927 closed

[2021-04-06 09:04] Flanker32 commented on #1388
@vikramkamath Thanks for your report, we have fixed the blob access level issue in the new version, could you please upgrade to latest version(1.10.1) and try again?

[2021-04-06 09:07] Flanker32 commented on #1383
@glqdlt Thanks a lot for your efforts! The PR has been merged.

[2021-04-06 09:07] #1383 closed

[2021-04-06 18:26] vikramkamath commented on #1388
@Flanker32 I will let you know once I verify today

[2021-04-07 06:19] Gulslabs opened #1392 "Failing to create Storage V1 account."
### Plugin name and version
azure-functions-maven-plugin  1.10.0
### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
when I run ``mvn azure-functions:depploy;`` Function should deploy into Azure environment

### Actual behavior
Deployment fails with below error.
[code]
### Steps to reproduce the problem
Download the project from https://github.com/Azure-Samples/hello-spring-fun

[2021-04-08 02:37] Flanker32 commented on #1197
Pr for this item : https://github.com/microsoft/azure-maven-plugins/pull/1393

[2021-04-19 22:13] TsuyoshiUshio opened #1423 "Azure Functions Maven Plugin template doesn't include Kafka"
This is not the issue, this is for tracking progress of the work. I'm not sure if RabbitMQ is planned or not.

### Plugin name and version
1.10.1
### Plugin configuration in your `pom.xml`
default

### Expected behavior
`mvn azure-functions:add` includes Kafka (at least)

### Actual behavior

[code]

### Steps to reproduce the problem

[code]

@pragnagopa

[2021-04-19 22:39] pragnagopa commented on #1423
Issue: https://github.com/microsoft/azure-maven-plugins/issues/1197 is tracking adding RabbitMQ template

Yes, I agree we should track work-item for Kafka trigger as well.

[2021-04-20 01:30] Flanker32 commented on #1423
Pr for Kafka is ready, https://github.com/microsoft/azure-maven-plugins/pull/1410.

We hold the PR as Kafka extension is not included in the functions extensions bundle, as maven template could only add the content, but Kafka need to add the `extension.csproj` now.

[2021-04-20 08:53] #1340 closed

[2021-04-20 17:09] TsuyoshiUshio commented on #1423
Thanks @Flanker32
That's make sense. We will let you know once Bundle Template has been released.

[2021-04-22 12:16] kwangomango commented on #1091
Is there a workaround for this problem?

[2021-04-26 03:27] andxu commented on #1390
@AimeSoleil , thank you for the kindly notification, we will now release new versions of webapp/functions/spring cloud maven plugins which supports \<auth>\<type>

[2021-04-26 03:27] andxu commented on #1390
BTW, the wiki is updated

[2021-04-26 07:18] Telamon-m opened #1452 "Cannot run mvn azure-webapp:deploy"
### Plugin name and version
com.microsoft.azure::azure-webapp-maven-plugin version 1.13.0 and 1.12.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
mvn azure-webapp:deploy should run

### Actual behavior
Plugin fails with error:

[code]

### Steps to reproduce the problem
run azure-webapp:deploy

I am using the following Java version:

[code]

and I am running it on Wind

[2021-04-27 07:15] andxu commented on #1452
hi @Telamon-m, can you provide the error log by executing `mvn azure-webapp:deploy -e`?

[2021-04-27 08:15] Telamon-m commented on #1452
Hi @andxu
Attached you find the output.
[error-log.txt](https://github.com/microsoft/azure-maven-plugins/files/6382970/error-log.txt)

[2021-05-03 09:41] blacelle opened #1466 "Environment Variables are not pushed anymore"
When switching from com.microsoft.azure:azure-webapp-maven-plugin:1.12.0 to com.microsoft.azure:azure-webapp-maven-plugin:1.13.0, the plugin does not set environment variables anymore.

It seems not to push both:

- implicit environment variables (like DOCKER_CUSTOM_IMAGE_NAME)
- explicit environment variables (as defined in appSettings)

[2021-05-04 02:02] Flanker32 commented on #1466
@blacelle Thanks a lot for your report and sorry for the trouble, this is an known issue which has been fixed in the webapp-maven-plugin:1.14.0, could you please upgrade the plugin and try again?

[2021-05-04 06:29] blacelle commented on #1466
@Flanker32 Thanks for the feedback. But it also appears in 1.14.0. I tried being more precise indicating the issue popped in 1.13.0 however I observed it initially but upgrading from 1.12 to 1.14.

[2021-05-04 08:02] Flanker32 commented on #1466
@blacelle Thanks for your feedback. Could you please share me a demo project with 1.14.0? I tried to deploy a docker app with appsettings with maven plugin 1.14.0 and it seems works well.

[2021-05-06 12:31] Xeyor opened #1473 "Unknown value of the pricingTier for P1v3 P2v3 P3v3 (Linux)"
### Plugin name and version
com.microsoft.azure:azure-webapp-maven-plugin:1.14.0:deploy

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
Deployment success to an existing PXv3 Linux AppService

### Actual behavior

[code]
### Steps to reproduce the problem
Try to deploy to an existing PXv3 AppService (Linux)

[2021-05-07 02:03] Flanker32 commented on #1473
@Xeyor Thanks a lot for your repot. creating app service with v3 pricing is currently not support, we will fixed this soon. Besides, if you want deploy to an existing app service with maven plugin, you may skip `<pricingTier>` in pom configuration.

[2021-05-08 05:21] Flanker32 commented on #1197
RabbitMQ support has been released with [functions maven plugin 1.11.0](https://search.maven.org/artifact/com.microsoft.azure/azure-functions-maven-plugin/1.11.0/maven-plugin)

[2021-05-08 05:21] #1197 closed

[2021-05-10 11:12] Celludriel commented on #920
I'm having the same issue after running the config

`[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  9.579 s
[INFO] Finished at: 2021-05-10T13:11:09+02:00
[INFO] ------------------------------------------------------------------------
[ERROR] Fail

[2021-05-21 14:52] andxu opened #1533 "Endgame 2021 May release"
## Azure maven plugin
###  Prepare bit
add the following sections in maven `settings.xml`
[code]

###  Azure Webapp plugin 1.15.0

### Features
| Features | Owner | Verifier | Tester | Verified |
|---|---|---|---|---|
| [one deployment](https://dev.azure.com/mseng/VSJava/_sprints/taskboard/Java%20Azure%20Tooling/VSJava/Sprint%20187?workitem=1829098) | andxu| qianjin|cindy||

###  Azure Functions p

[2021-05-22 21:29] vikramkamath commented on #1388
Sorry for a late response. Not sure what had changed. Shortly after, I stopped noticing this issue with version `1.9.0` as well .... @Flanker32 thanks for looking into it!

[2021-05-22 21:29] #1388 closed

[2021-05-24 06:14] saragluna opened #1539 "Is there a maven plugin to help deploy ARM template?"
This is a question/feature requests: is there a maven plugin to help deploy ARM template?

[2021-05-25 09:29] andxu commented on #1539
No maven plugin, but in intellij azure toolkit, you can deploy a arm template.

![image](https://user-images.githubusercontent.com/17075863/119474334-9f3c7300-bd7e-11eb-8c41-6a773715923c.png)

[2021-05-25 09:41] v-yuyul commented on #1533
#### Test Pass
- Feature: Azure Web App maven plugin 1.15.0
- Tester: Cindy on 5/25
- Cases:

|With bits 4692|With bits 4697|
|------|---|
|Can deploy to web app on linux: deploy jar, war and ear|Can deploy to web app on windows/linux: deploy jar, war|
|Can update after edit project code||

[2021-05-26 02:45] SunnyChen1 commented on #1533
Verify maven spring cloud 1.6.0 on commicrosoftazure-4697, new issue: [#1846902](https://dev.azure.com/mseng/VSJava/_backlogs/backlog/Java%20Azure%20Tooling/Stories/?workitem=1846902); known issue [#1839045](https://dev.azure.com/mseng/VSJava/_workitems/edit/1839045)--Sunny,PanLei

[2021-05-26 23:47] #1539 closed

[2021-05-26 23:48] #1473 closed

[2021-05-27 06:25] SunnyChen1 commented on #1533
Verify maven function on commicrosoftazure-4698, find the 6 new issues: [#1847373​](https://dev.azure.com/mseng/VSJava/_workitems/edit/1847373), [#1847375](https://dev.azure.com/mseng/VSJava/_workitems/edit/1847375), [#1847377](https://dev.azure.com/mseng/VSJava/_workitems/edit/1847377),[#1847379](https://dev.azure.com/mseng/VSJava/_workitems/edit/1847379),
[#1847383](https://dev.azure.com/mseng/V

[2021-06-03 12:33] m-moris opened #1565 "azure:azure-functions-maven-plugin:1.12.0 has incorrect dependencies"
Currently, I create a Functions application with the following command, the azure functions maven plugin version will be set 1.12.0 in pom.xml.

[code]

And I run `mvn clean package` on the generated project, I get the following error. I set the version to 1.11.0 , it will work correctly.

What is the current correct latest version? 1.12.0 has already been deployed to the Maven Central Repository.

[2021-06-06 06:50] Flanker32 commented on #1565
@m-moris Thanks for your report, we have released the function maven plugin 1.12.0 to maven repository, you may get it [here](https://repo1.maven.org/maven2/com/microsoft/azure/azure-functions-maven-plugin/1.12.0/), could you please try clean the local  repository and re-run maven command with -U?

[2021-06-07 01:57] m-moris commented on #1565
Thanks for the advice.
I cleaned the local repository and tried again, and it worked correctly, so close this issue.

[2021-06-07 01:57] #1565 closed

[2021-06-26 09:15] blacelle commented on #1466
@Flanker32 Any news on this? Thanks

[2021-06-27 07:15] Flanker32 commented on #1466
@blacelle Sorry but I could not repro this issue, could you please try update to the latest maven plugin and try again? Or could you please share a demo configuration for your project?

[2021-06-30 14:10] sschmeck opened #1616 "Provide property to skip extensions installation"
Since I want to aviod .Net dependencies when using custom extensions for my Function App project, I want to disable the implicit extension installation during the `package-functions` execution.

### Plugin configuration in your `pom.xml`

[code]

### Expected behavior

[code]

### Actual behavior

Since the `host.json` doesn't contain the `extensionBundle` property, the plugin tries to install som

[2021-07-01 11:25] haraldatbmw commented on #1097
Any new on this issue. This maven plugin should support App Service Environment (v3) with App Service Plans (I1V2, I2V2, I3V2).

[2021-07-15 17:32] Vipin-Sharma commented on #1383
I am facing similar issue, asked this question on stack overflow unfortunately not even a comment there.

https://stackoverflow.com/questions/67672882/maven-command-azure-functionsrun-is-stuck

Can it be related issue @Flanker32 ?

This is stack trace of maven process, more details are given on stackoverflow link.

[code]

[2021-07-16 03:13] Flanker32 commented on #1383
@Vipin-Sharma Really sorry for the trouble, this should be the same issue. We want to check whether func exists by execute `func` and check the exit value, however, it seems that func change their output strategy since 3.0.3388 and break the check. The issue has been fixed with @glqdlt help, could you please upgrade to the latest version 1.12.0 and retry?

[2021-07-19 16:33] sgalles opened #1651 "Explicit option to block automatic resource/plan/app creation"
When the plugin is used to deploy on a resource/plan/app that was already manually created, it would be nice to have an option that explicitly disables the accidental automatic creation of any Azure resource/plan/app in the Subscription.
Because when there's a  misconfiguration/typo in my pom.xml, or if I'm on the wrong Subscription, I'd like an explicit error (resource not found...) not the creat

[2021-07-19 21:11] tedyoung opened #1652 "Invalid POM dependency: azure-mgmt-insights"
### Plugin name and version

azure-webapp-maven-plugin:2.0.0

### Plugin configuration in your `pom.xml`

[code]

### Expected behavior

No dependency errors

### Actual behavior

[code]

### Steps to reproduce the problem

Run `mvn package azure-webapp:deploy`

[2021-07-21 05:52] Vipin-Sharma commented on #1383
@Flanker32 Thanks, it worked for me!
Finally I can debug my application.

[2021-07-26 03:05] andxu commented on #1386
We will impl proxy with authentication in Auguest.

[2021-08-05 10:50] WoodenAndrew opened #1678 "Drop dependency on func command line tool"
### Plugin name and version
azure-functions-maven-plugin 1.13
### Plugin configuration in your `pom.xml`
Irrelevant
### Expected behavior
package and run goals do not require .net functions sdk and everything can be done without any additional tools
### Actual behavior
[code]
### Steps to reproduce the problem
Just install the .net function sdk for windows.

Looking at the source code, azure-funct

[2021-08-05 10:51] WoodenAndrew commented on #1678
Ping @Dragas

[2021-08-09 07:13] andxu commented on #1386
The PR is availabe https://github.com/microsoft/azure-maven-plugins/pull/1677

[2021-08-09 07:15] #1533 closed

[2021-08-09 07:20] andxu commented on #1678
function core tools are written in .net and it is required for running functions locally. so I think .net function sdk is required, could you let me know what parameter you can add to 'func host start' to avoid the requirement for .net functions sdk?

[2021-08-09 07:23] WoodenAndrew commented on #1678
What? How is that a requirement when a new JVM is spawned to run the function application?

[2021-08-09 07:28] andxu commented on #1651
Would you like a confirm parameter in deploy, which actually lists all the operations/changes(only do read operation on your subscription) and when you press 'Y', it will continue to deploy (very similar to the terraform plan command: https://www.terraform.io/docs/cli/commands/plan.html)

mvn azure-webapp:deploy --confirm

[2021-08-09 07:33] yucwan commented on #1651
What if we add a new parameter like:
mvn azure-webapp:deploy **--prevent-creation**
which will always try to update existing Azure resources and prevent creating any resource group/app service plan/app service.

[2021-08-09 07:36] andxu commented on #1452
@Telamon-m Sorry for the late reply, it is caused by one dependency of our plugin: urls[121] = file:/C:/Users/username/.m2/repository/com/microsoft/azure/applicationinsights-core/2.6.2/applicationinsights-core-2.6.2.jar

I think it is already fixed in May and you can try it now:
[code]

[2021-08-09 07:39] #1390 closed

[2021-08-09 07:39] andxu commented on #1390
The wiki is updated

[2021-08-09 07:58] andxu commented on #1319
@jakesmolka, thanks for your feedback. I can reproduce your problem, it is by we mistakenly enable the config goal for packaging `pom`, we will report not support for parent pom in new version: 2.2.0

[2021-08-09 08:11] andxu commented on #1678
Hi @WoodenAndrew , the function core tools repository is located [here](https://github.com/Azure/azure-functions-core-tools) (managed by Azure Functions team), it must adopt one language since it support multiple languages, personally I don't think it is right to have multiple distributions of function core tools using different languages since this is an endless work.

[2021-08-09 08:12] andxu commented on #1652
We want to remove it too, but currently, we cannot find a official library.

[2021-08-09 08:15] #1616 closed

[2021-08-09 08:16] #1318 closed

[2021-08-09 08:17] andxu commented on #1112
Hi @viters, could you try other ways described in this [wiki](https://github.com/microsoft/azure-maven-plugins/wiki/Authentication) on the latest version 2.1.0?

[2021-08-09 08:24] andxu commented on #1112
The latest version 2.1.0 will prompt you to select subscription when your sp have multiple subs(azure cli won't since azure cli always has a default  subs)

![image](https://user-images.githubusercontent.com/17075863/128678024-731aaf99-884a-400f-8380-9735c2bcf2ae.png)

[2021-08-09 08:31] andxu commented on #1003
Hi @SledgeHammer01, now `com.microsoft.azure:azure-maven-plugin:0.1.0:login` is deprecated. And you can `az login --tenant` through azure cli and our plugin will work on all the subscriptions on all tenants in your account (you need to specify the subscriptionId in pom.xml), please try newest version '2.1.0' and provide us the result, thank you.

[2021-08-09 08:34] andxu commented on #1033
hi @dharm187 , could you please try to use the following configuration on newest 2.1.0
[code]

[2021-08-09 08:37] andxu commented on #1044
It is caused by our dependency: applicationinsights.core, now it should be fixed in newst versions when we upgrade the applicationinsights.core to `2.6.3`

[2021-08-09 08:38] andxu commented on #1097
@haraldatbmw Sorry to tell you that:  currently , ASE is not supported by maven tooling.

[2021-08-09 08:40] Flanker32 commented on #1125
Close as all related items has been done

[2021-08-09 08:40] #1125 closed

[2021-08-09 08:45] #1195 closed

[2021-08-09 08:48] andxu commented on #1201
Investigating on this strange problem, will post the result later

[2021-08-09 17:47] tedyoung commented on #1652
Sorry, I don't understand your response. The POM dependency is invalid, so why not just remove it? Why is it needed?

[2021-08-12 04:12] andxu commented on #1380
for Java Se container, it is required to have all-in-one jar executable, if you just need a library jar uploaded, then you can specify the type `lib`  in `<resource>`(deployed to /home/site/libs, see doc at https://github.com/shrishrirang/onedeploy/tree/master/usage):
    <resource>
                <directory>${project.basedir}/../resources/azure</directory>
                <type>lib</type>

[2021-08-16 23:20] andxu commented on #1652
Already fixed in Flanker32 's pr

[2021-08-17 01:40] #1359 closed

[2021-08-17 01:40] #1652 closed

[2021-08-17 08:25] icetheking commented on #988
ami me aparece esto Launcher v5.7.9 (iniciado con Pre-Launcher v7) ejecutado en windows...
Hora De Inicio: Aug 17, 2021, 1:14:49 AM
Datos Técnicos:
 →Sistema Operativo: "Windows 10"
 →Version SO: "10.0"
 →Arquitectura SO: "amd64"
 →Versión de Java: "16.0.1"
 →Proveedor Java: "Oracle Corporation"
 →Arquitectura Java: "64"
 →Proxy: "DIRECT"
Si tiene problemas para iniciar el juego, le recomendamos i

[2021-08-17 08:25] icetheking commented on #988
me sale esto Launcher v5.7.9 (iniciado con Pre-Launcher v7) ejecutado en windows...
Hora De Inicio: Aug 17, 2021, 1:14:49 AM
Datos Técnicos:
 →Sistema Operativo: "Windows 10"
 →Version SO: "10.0"
 →Arquitectura SO: "amd64"
 →Versión de Java: "16.0.1"
 →Proveedor Java: "Oracle Corporation"
 →Arquitectura Java: "64"
 →Proxy: "DIRECT"
Si tiene problemas para iniciar el juego, le recomendamos instalar

[2021-08-17 17:34] madkroll commented on #920
Hey @Flanker32,
Any update on this issue? We are experiencing same trouble right now with maven plugin to deploy azure functions.
It manages to deploy service plan and even Function App, however fails to deploy functions itself to this Function App.

plugin: com.microsoft.azure :: azure-functions-maven-plugin :: 1.13.0
java: 11
platform: windows
service plan: EP1

[code]

[2021-08-18 18:17] mrm9084 opened #1712 "Deployment Fails Successfully - Unexpected character"
### Plugin name and version
<groupId>com.microsoft.azure</groupId>
<artifactId>azure-webapp-maven-plugin</artifactId>
<version>2.1.0</version>

### Plugin configuration in your `pom.xml`
    <build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
            <p

[2021-08-19 01:48] Flanker32 commented on #1712
@mrm9084 Thanks for your report, according to the log it seems that there are some issues with the service host that return 502 error code. I tried to create a spring boot web app with same runtime and it seems works well. Could you please try create a new web app instance in another region and see whether the issue still exists?

[2021-08-19 03:33] #1319 closed

[2021-08-19 04:06] #1386 closed

[2021-08-19 04:09] #1073 closed

[2021-08-19 04:09] #1072 closed

[2021-08-19 04:09] #1070 closed

[2021-08-19 04:09] #1069 closed

[2021-08-19 04:10] #1067 closed

[2021-08-19 04:10] #1066 closed

[2021-08-19 04:10] #1065 closed

[2021-08-19 04:11] #1064 closed

[2021-08-19 04:11] #452 closed

[2021-08-19 04:12] #845 closed

[2021-08-19 04:12] #856 closed

[2021-08-19 04:12] #868 closed

[2021-08-19 04:14] #883 closed

[2021-08-19 04:15] #879 closed

[2021-08-19 18:38] mrm9084 commented on #1712
@Flanker32 I have tried in a few different regions and get the same issues.

[2021-08-20 02:14] #1466 closed

[2021-09-02 19:47] sgalles commented on #1651
Hi, thanks for your answers, and sorry for the delayed response.
A flag on the CLI could be useful for certain use cases, but ideally I was rather looking for something that doesn't depend on the user doing the right thing with the CLI command.
To put it differently I was looking for a flag directly in the configuration of the plugin in the XML file that would prevent all users from creating new r

[2021-09-08 08:16] #1452 closed

[2021-09-08 09:16] #1044 closed

[2021-09-08 09:16] #1033 closed

[2021-09-08 09:17] #1003 closed

[2021-09-08 09:17] #1112 closed

[2021-09-18 04:18] #1380 closed

[2021-09-18 04:18] #1678 closed

[2021-09-22 09:14] andxu commented on #1651
https://github.com/microsoft/azure-maven-plugins/pull/1762, use `-Dazure.webapp.create.skip=true` or `-DskipCreateWebApp`.

[2021-09-22 09:17] andxu commented on #1651
or use pom configuration:
[code]

[2021-09-23 04:44] #1086 closed

[2021-09-23 04:44] andxu commented on #1086
fixed #1728

[2021-09-28 10:54] #1183 closed

[2021-09-29 12:50] blacelle opened #1790 ""Required parameter AccessKey is missing" on WebApp with Mount"
### Plugin name and version

					<groupId>com.microsoft.azure</groupId>
					<artifactId>azure-webapp-maven-plugin</artifactId>
					2.2.0

### Plugin configuration in your `pom.xml`

				<plugin>

					<groupId>com.microsoft.azure</groupId>
					<artifactId>azure-webapp-maven-plugin</artifactId>
					<configuration>

						<auth>

							<serverId>azure-auth</serverId>
						</auth>

						<auth

[2021-10-02 09:26] #1712 closed

[2021-10-13 08:53] Flanker32 commented on #1790
@blacelle Thanks for your report and really sorry for the late reply, This seems to be an external [issue ](https://github.com/Azure/azure-sdk-for-java/issues/24758)of Azure track 2 SDK, we will working with the SDK team to resolve the issue and will update here once there are updates, really sorry for the inconvenience.

[2021-10-30 06:36] rajchandvaniya opened #1809 "Functions deploy failing with error: parameter properties has an invalid value"
azure-functions-maven-plugin version: 1.14.0

[code]
I've created the project using following command
`mvn archetype:generate "-DarchetypeGroupId=com.microsoft.azure" "-DarchetypeArtifactId=azure-functions-archetype" "-DjavaVersion=8"`

It is HTTPBinding function.

I'm able to locally run it
[code]

Deployment of the function is failing
`mvn azure-functions:deploy`

Error:
`com.azure.resourcemanag

[2021-10-30 06:37] rajchandvaniya commented on #1809
[deploy-error.txt](https://github.com/microsoft/azure-maven-plugins/files/7445966/deploy-error.txt)

[2021-10-31 11:57] Flanker32 commented on #1809
@rajchandvaniya Thanks for your report, I tried the same configuration and it seems works fine in my project. Could you please help the project to reproduce the issue? By the way, could you please share the authentication method for your deployment?

[2021-11-01 04:06] rajchandvaniya commented on #1809
Project: https://github.com/rajchandvaniya/azure-function-http-sample (its the default function that gets created through mvn archtype)

Authentication Method: az cli login using device code method

[2021-11-01 04:42] Flanker32 commented on #1809
@rajchandvaniya Thanks for your response, I tried the project https://github.com/rajchandvaniya/azure-function-http-sample and it works fine for me for both create and updates.  Did you tried some old azure libraries before, if so, could you please clean the azure libraries in `.m2` and try again?
Besides, did this issue also occurs for other azure tools? Could you please help try create a functio

[2021-11-02 12:12] rajchandvaniya commented on #1809
Thanks for all the help. I had not tried old libraries. I also tried using gradle plugin, deploying zip and creating function through cli, I'm getting the same error for all. It seems there might be something wrong with the subscription setup

[2021-11-03 10:23] nvanhoeck opened #1812 "How to allow multifactor authentication when deploying from Jenkins?"
### Plugin name and version

azure-webapp-maven-plugin 2.2.1

### Plugin configuration in your `pom.xml`
[code]

### Steps to reproduce the problem

We upgraded from the maven azure plugin version 1.12.0 to 2.2.1, since we started having issues with deployments being successful in Jenkins but not actually uploaded to webapp itself.

We use a service principal to use as authentication. Locally runn

[2021-11-04 01:50] Flanker32 commented on #1812
@nvanhoeck Thanks for your report, it seems that maven toolkit did not use the azure cli credential (which should be used by default) but fall back to OAuth in Jenkins. Could you please try set auth method to `azure_cli` and see whether it could work?
[code]

Besides, you may use service principal for authentication directly in maven plugin, you may get the detail guidance [here](https://github.co

[2021-11-04 14:32] nvanhoeck commented on #1812
@Flanker32 the solution you provided works, if you add the service principal into the settings.xml of Jenkins. Only difference here, didn't used maven decryption/encryption because it failed. Prob need to turn it on somehow.

Still deploy was successfull, so thank you!

[2021-11-04 14:32] #1812 closed, assigned to Flanker32

[2021-11-05 16:59] rceridian opened #1814 "Running ' mvn azure-webapp:config' failed due to plugin not found"
### Plugin name and version
plugin name: azure-webapp
version: 2.2.0

### Plugin configuration in your `pom.xml`
"""
<plugin>
    <groupId>com.microsoft.azure</groupId>
    <artifactId>azure-webapp-maven-plugin</artifactId>
    <version>2.2.0</version>
</plugin>
"""
### Expected behavior
promotes me to enter the information about resource group name, web app name and e.t.c

### Actual behavior
[ER

[2021-11-06 02:06] NakioNakamu commented on #977
For those in the future that have this same issue, I found out this command didn't like the appName in my application's pom file (unrelated to this project), listed under configurations.

Hopefully, this will save time for others!

[2021-11-08 12:49] Flanker32 commented on #1814
@rceridian Thanks for your report, it seems that there are some issues with the pom configuration which make maven did not recognize the webapp plugin. Could you please help share your project or check the configuration? Here is an example.

[code]

[2021-11-08 12:52] Flanker32 commented on #1809
@rajchandvaniya Thanks for your feedback and really sorry for the trouble, please submit an [App Service support ticket](http://aka.ms/CRI-WebApps) once you need further help.

[2021-11-08 12:53] Flanker32 commented on #1809
Close this issue as this should be an account issue rather than the toolkit.

[2021-11-08 12:53] #1809 closed, assigned to nobody

[2021-11-08 15:13] rceridian commented on #1814
thanks for the response. The github mark down does not display what I pasted correctly. Please refer the screenshot below.

![image](https://user-images.githubusercontent.com/93787105/140767439-8342e8d8-f141-4943-92e9-af92200ad33b.png)

[2021-11-09 01:51] Flanker32 commented on #1814
@rceridian Thanks for your information, does other plugins defined in the pom.xml meet the same issue? If not, could you please clean the webapp maven plugin cache in `.m2` (default to be `${user_home}\.m2\repository\com\microsoft\azure\azure-webapp-maven-plugin\`) and try again?

[2021-11-10 08:54] Flanker32 commented on #977
@PhoenixGrad Thanks for your report, do you mean the webapp maven plugin throw validation exception for values in other pom file? Could you pleas help share us a demo project to reproduce this issue?

[2021-11-10 16:25] NakioNakamu commented on #977
@Flanker32

https://spring.io/guides/gs/spring-boot-for-azure/

I was following the example listed above to deploy a spring application to the web app service of Azure. [Option 2 -> Step 3] There is a way to open the pom.xml file to view the configuration written. Under [plugin->configuration->appName] my application had a "." in the name, which threw this error.

Prior to finding this error, this

[2021-11-11 02:06] Flanker32 commented on #977
@PhoenixGrad Thanks a lot for your response! Maven plugin will check the <appName> before deploy resources to Azure, and will throw exception once the validation is not passed. The error message may not be clear before and sorry for the confusing. We have refactor our error notification in later version to make it more clear, hope this could help you in later deployment, here is an example.

[code

[2021-11-17 15:14] mnriem opened #1825 "azure-function-maven-plugin version 1.3.4 does not work anymore"
### Plugin name and version
azure-function-maven-plugin version 1.3.4

The 1.3.4 version of the plugin does not work anymore.

The underlying auth fails.

Upgrading to the 1.14.1 version solves the problem.

[2021-11-17 21:14] prmenon-aa opened #1827 "Webapp Plugin supports FTPS or only FTP ?"
### Plugin name and version
azure-webapp-maven-plugin v1.12.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
We are getting a Security recommendation from "Microsoft Defender for Cloud" saying "FTPS should be required in your web App"

Manual remediation:
To ensure enforcement of FTPS only for your web app:
1. Go to the App Service for your API app
2. Select Configuratio

[2021-11-18 14:02] Flanker32 commented on #1825
@mnriem Thanks a lot for your report! Azure cli has made a breaking change since 2.30.0, deprecated old authentication and migrate to MSAL, which was not supported by old maven plugins, you may get more info from [here](https://docs.microsoft.com/en-us/cli/azure/msal-based-azure-cli).

Azure maven tooling has migrated to azure identity library for authentication which support authentication with l

[2021-11-18 14:02] #1825 closed, assigned to nobody

[2021-11-19 08:16] Flanker32 commented on #1827
@prmenon-aa Maven plugin by default will use rest api provided by kudu for deployment, which should not be affected by FTP configuration. Feel free to reopen this issue once you meet any problem while deployment.

[2021-11-19 08:16] #1827 closed, assigned to nobody

[2021-11-25 07:08] andxu commented on #1814
Please try this command:
[code]

[2021-11-25 07:09] #1651 closed

[2021-11-25 07:15] andxu commented on #1392
Hi @Gulslabs, this issue is already fixed, could you please try the latest version 1.14.1?

[2021-11-25 07:23] #1354 closed

[2021-11-25 07:32] #1251 closed

[2021-11-25 07:34] #1221 closed

[2021-11-25 07:39] #1180 closed

[2021-11-25 07:43] #1111 closed

[2021-11-25 07:47] #1107 closed

[2021-11-25 07:49] #1083 closed

[2021-11-25 07:49] andxu commented on #1071
gradle webapp is released

[2021-11-25 07:49] #1071 closed

[2021-11-25 07:49] #1068 closed

[2021-11-25 07:51] andxu commented on #1049
already fixed by checking name availability

[2021-11-25 07:51] #1049 closed

[2021-11-25 07:56] #1006 closed

[2021-11-25 08:05] #882 closed

[2021-11-25 08:10] #859 closed

[2021-11-25 08:10] #858 closed

[2021-11-25 08:12] #857 closed

[2021-11-25 08:23] #836 closed

[2021-11-25 08:24] andxu commented on #688
v1 is already deprecated

[2021-11-25 08:24] #688 closed

[2021-11-25 08:25] andxu commented on #687
Invalid since we upgraded to track2

[2021-11-25 08:25] #687 closed

[2021-11-25 08:30] andxu commented on #673
Hi @alexandrospanagiotidis, we have already solve this issue by adopting azure-identity, could you please take a try again.

[2021-11-25 08:35] #603 closed

[2021-11-25 08:38] #583 closed

[2021-11-25 08:53] #365 closed

[2021-11-25 08:54] #334 closed

[2021-11-25 08:55] #261 closed

[2021-11-25 08:57] #223 closed

[2021-11-25 08:57] andxu commented on #223
Close this issue since it is opened long time ago.

[2021-11-25 08:58] #217 closed

[2021-11-25 09:00] #110 closed

[2021-11-25 10:04] alexandrospanagiotidis commented on #673
Dear @andxu,

Thank you for your reply! I am no longer able to test your changes, as I am no longer involved in that particular project.

As a side-note: we moved away from deploying via `azure-maven-plugin` (in favor of `az-cli`) as we needed to set a higher timeout for deployments to Azure China, which was not possible with the plugin at that time.

Thank you for your efforts!

All the best
Alex

[2021-11-29 01:47] Flanker32 commented on #1790
@blacelle Web App Maven Plugin 2.2.2 has been released, which include fix for this issue, could you please try again with the lates version? Thanks for your report and really sorry for the trouble.

[2021-11-29 01:49] #1306 closed

[2021-11-30 19:05] bryandx opened #1845 "azure-spring-cloud-maven-plugin deployment memory config options"
The azure-spring-cloud-maven-plugin it currently has a deployment memoryInGB option.  The Azure Portal allows an option of 512 Mi. Can the plugin be enhanced to support that memory option.

[2021-12-01 09:12] Flanker32 commented on #1845
@bryandx Thanks for your report, support for 0.5 memoryInGB was introduced in the preview version of azure rest api, which was not supported by Java SDK for now. We are working with SDK team to release this feature asap, and will update here once there are updates.

[2021-12-01 13:53] EugenioTesio opened #1848 "Azure Function Deployment Fails when setting Key Vault access to Function"
### Plugin name and version
    azure-functions-maven-plugin:1.14.1

### Plugin configuration in your `pom.xml`

             <plugin>
                <groupId>com.microsoft.azure</groupId>
                <artifactId>azure-functions-maven-plugin</artifactId>
                <version>1.14.1</version>
                <configuration>
                    <appName>${functionAppName}</appName>

[2021-12-08 23:25] pkoplik-ko commented on #1848
Having same issue here.

[2021-12-09 02:06] #1814 closed, assigned to andxu

[2021-12-13 20:50] mikaello commented on #358
I had same problem with AZ CLI on WSL2, I solved it by deleting the `~/.azure` folder and starting over.

[2021-12-19 13:48] Flanker32 commented on #1848
@EugenioTesio @pkoplik-ko Thanks a lot for your report and really sorry for the late response. We are currently working on the fix for this issue, could you please try other deployment method like `RUN_FROM_ZIP` as workaround?  You may get more details [here](https://github.com/microsoft/azure-maven-plugins/wiki/Azure-Functions:-Configuration-Details#supported-deployment-type)

[2021-12-20 03:33] euchungmsft opened #1871 ""Failed to acquire a new access token" error by running mvn azure-spring-cloud:deploy"
It prompts me to login every time when I run 'mvn azure-spring-cloud:deploy', it seems like it never stores the access token

### Plugin name and version
`azure-spring-cloud-maven-plugin:1.7.2:deploy`

### Plugin configuration in your `pom.xml`

config was done by this
`mvn com.microsoft.azure:azure-spring-cloud-maven-plugin:1.7.2:config`

in pom.xml
[code]

### Expected behavior

### Actual behav

[2021-12-20 06:03] Flanker32 commented on #1871
@euchungmsft Thanks for your report, we will investigate this issue soon. As a workaround, could you please try other authentication method like `azure_cli` or `service_principal` and try again? You may get related authentication doc [here](https://github.com/microsoft/azure-maven-plugins/wiki/Authentication)

[2021-12-20 07:57] euchungmsft commented on #1871
I got this error with azure_cli

`Failed to execute goal com.microsoft.azure:azure-spring-cloud-maven-plugin:1.7.2:deploy (default-cli) on project azure-spring-petclinic-simple: execute Azure Cli command 'az version --output json' failed due to error: Process exited with an error: 2 (Exit value: 2).`

but install az version info is like this

[code]

pom.xml looks like this

![image](https://user-

[2021-12-20 08:08] euchungmsft commented on #1871
It seems like `service_principal ` works properly but I don't think developers want this

[2021-12-20 08:10] Flanker32 commented on #1871
@euchungmsft Thanks for your message, could you please help share your os and jdk info?

@andxu Please check this issue

[2021-12-20 08:22] euchungmsft commented on #1871
For OS, Ubuntu/WSL
[code]

For JDK
[code]

[2021-12-20 17:59] EugenioTesio commented on #1848
I'm actually using `RUN_FROM_ZIP` as I have Windows O.S. and it's the default option.

[2021-12-21 01:48] Flanker32 commented on #1848
@EugenioTesio Thanks for your message, it seems that there are some issue for the runtime detection, could you please try add the parameter `<deploymentType>RUN_FROM_ZIP</deploymentType>` in your function configuration and try whether it could work?

[2021-12-25 07:25] #1392 closed

[2021-12-25 09:26] #520 closed

[2021-12-28 07:24] Flanker32 commented on #1848
@EugenioTesio  @pkoplik-ko Thanks again for your report. For now toolkit do not have the access to read the connection string with key vault and the deployment will failed in this case.
We are working with Function service team for this issue, as a workaround, please try specify `RUN_FROM_ZIP` as the deployment method in your plugin configuration.
If the deployment did not work for you(for instanc

[2021-12-29 02:18] #1790 closed

[2022-01-19 18:03] indranil-chakraborty-thd opened #1912 "Unable to specify deployment instance when deploying"
### Plugin name and version
azure-spring-cloud-maven-plugin, v1.7.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
I should be able to specify which deployment in my application I should target when deploying; this is not available as a configuration option.

### Actual behavior
It defaults to a deployment named "default". Azure Spring Cloud permits me to create named de

[2022-01-24 06:19] prosong opened #1922 "Failed to deploy webapp behind a http proxy with 2.3.0"
### azure-webapp-maven-plugin:2.3.0

The configuration works with 2.2.1 but failed with 2.3.0.

### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
The app can be deployed successfully

### Actual behavior
[INFO] --- azure-webapp-maven-plugin:2.3.0:deploy (default-cli) @ echo ---
[INFO] Use maven proxy: xxxxxxxxxxxx:8080
Auth type: AZURE_CLI
Default subscription: xxxxxxxxxxxxxx

[2022-01-24 08:33] Flanker32 commented on #1922
@prosong Thanks for your report, I'm investigating this issue, will update here once there are updates, please downgrade to 2.2.1 as a workaround, sorry for the trouble.

[2022-02-03 11:34] lovababu commented on #136
@jdneo I am still facing the same issue, azure-core-tools version is : 2.0.3
And here is my full pom.xml

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

[2022-02-03 12:38] lovababu opened #1929 "Generated final executable jar doesn't contain libs in classpath."
### Plugin name and version
Development Operating System: Window
Azure Function App OS: Linux
Azure Functions Core Tools (2.0.3)
Springboot 2.6.3
spring-boot-maven-plugin 2.6.3
azure-functions-maven-plugin  1.14.3
azure-functions-java-library  1.4.2
spring-cloud-function-adapter-azure 3.2.1

### Plugin configuration in your `pom.xml`
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://ma

[2022-02-04 18:17] cgiraudeau commented on #1183
Be careful, ``imageName`` has been replaced by ``image`` in [runtime setting](https://github.com/microsoft/azure-maven-plugins/blob/master/azure-webapp-maven-plugin/src/main/java/com/microsoft/azure/maven/webapp/configuration/MavenRuntimeConfig.java):
[code]

[2022-02-05 04:20] jdneo commented on #136
add @Flanker32. 😃

[2022-02-07 08:33] Flanker32 commented on #136
@lovababu Thanks for your report, I tried the same pom configuration in an demo project and it seems that all the dependencies has been copied to lib of staging folder correctly. Could you please help share the output of maven package?
![image](https://user-images.githubusercontent.com/12445236/152752373-f4d13fc2-7fe3-4e47-acc3-84285599cbf8.png)

[2022-02-07 08:55] Flanker32 commented on #1929
@lovababu Thanks for your report and sorry for the late response. It seems that spring-boot-maven-plugin execute after function-maven-plugin so that there is only origin jar in function staging folder. Could you please try declare spring-boot-maven-plugin before functions-maven-plugin and try again?

[2022-02-07 09:36] lovababu commented on #1929
Thanks @Flanker32 , changing the order of plugins helped I see boot jar is getting as expected.

My understanding was that azure function app runs the springboot jar directly when I have springboot-cloud libraries in classpath, but it seems function app refers the libs under staging directory.

Thanks for your time, and closing this issue.

[2022-02-07 09:36] #1929 closed, assigned to Flanker32

[2022-02-11 07:51] purijatin opened #1931 "No errors shown when deployment fails"
### Plugin name and version
azure-functions-maven-plugin:1.15.0

### Plugin configuration in your `pom.xml`

[code]
### Expected behavior

There are following issues with this plugin:

1. Let's say if the docker image I am trying to deploy does not exist, the command still succeeds.. **Neither does it show on the azure portal if deployment failed**. In such a scenario, there is no way to know the

[2022-02-11 09:21] #1848 closed, assigned to nobody

[2022-02-16 13:41] blacelle opened #1936 "azure-spring-cloud-maven-plugin lacks a skip option"
### Plugin name and version
					<groupId>com.microsoft.azure</groupId>
					<artifactId>azure-spring-cloud-maven-plugin</artifactId>
					<version>1.8.0</version>

### Plugin configuration in your `pom.xml`
I would like to be able to configure the following:

				<plugin>
					<groupId>com.microsoft.azure</groupId>
					<artifactId>azure-spring-cloud-maven-plugin</artifactId>
					<version>1.8.0<

[2022-02-16 19:57] sadukie opened #1937 "Azure Spring Cloud Maven Plugin creating Java 8 app instead of Java 11 app"
### Plugin name and version

**name**: azure-spring-cloud-maven-plugin
**version**: 1.8.0

Additional debugging information just in case:

**pricing tier**: standard
**region**: West US

I generated my configuration based off of the advanced options prompts from the config goal.

### Plugin configuration in your `pom.xml`

[code]

### Expected behavior

When I run `mvn azure-spring-cloud:deploy` w

[2022-02-18 06:01] Flanker32 commented on #1931
@purijatin Thanks for your report and really sorry for the late response.
Currently for docker function app, maven plugin will only update the configuration of target function app (docker image repository, password...), and return after the properties updated, we will sync with the host team to find an API to get the deployment status.
For the second issue, I'll investigate it and fix it soon.

[2022-02-18 07:10] wangmingliang-ms commented on #1937
@sadukie Hi, thanks for reporting, but we are not able to reproduce this bug.
is this issue stably reproduceable on your own machine?

[2022-02-18 07:17] wangmingliang-ms commented on #1936
@blacelle  thanks for your reporting. I like the idea, this enhancement is reasonable. I added it into our blacklog.

[2022-02-18 07:23] wangmingliang-ms commented on #1912
@indranil-chakraborty-thd hi, thanks for reporting this issue, we do have a `<deploymentName>` which should meet your requirement, can you try?
[code]
(but this option doesn't work for basic pricing tier, this bug would soon be fixed in the coming v0.19.0).
We are really sorry that we didn't update the wiki.

[2022-02-18 11:17] purijatin commented on #1931
Thanks @Flanker32 for the response. Appreciate the help.

[2022-02-18 16:22] sadukie commented on #1937
@wangmingliang-ms

I am running this in a Git Bash terminal within Visual Studio Code. I am running on Windows 11 Professional with the 21H2 patch.

These are the steps that I am taking that you could repeat:

1. Create an Azure Spring Cloud instance:

[code]
2. Go through [Build a Spring Boot microservice using Spring Cloud features](https://github.com/microsoft/azure-spring-cloud-training/blob/m

[2022-02-18 16:22] #1937 closed, assigned to wangmingliang-ms

[2022-02-22 06:25] #1922 closed, assigned to Flanker32

[2022-02-22 09:08] Flanker32 commented on #1931
@purijatin For the second issue, we do have logic to validate whether serverId exists in your settings.xml and throw exception if not exists, please refer [here](https://github.com/microsoft/azure-maven-plugins/blob/develop/azure-maven-plugin-lib/src/main/java/com/microsoft/azure/maven/MavenDockerCredentialProvider.java#L57). And it seems works well in my cases, could you please share your configu

[2022-02-22 11:04] purijatin commented on #1931
Hi @flanker32.

I verified it. You are right. Not sure why I faced that issue then. I had to spend a couple of hours then to understand the cause back then.
I am unable to replicate now on (2) as of now. You can ignore (2).

Regards

[2022-03-07 04:15] agilette opened #1960 "Validation of the 'function artifact' should respect value of 'finalName' passed via plugin configuration when running "package". Variant on #1136"
### Plugin name and version
Plugin: azure-functions-maven-plugin:1.14.2
Maven version: Apache Maven 3.8.1

### Plugin configuration in your `pom.xml`

[code]

### Expected behavior

Running _mvn package azure-functions:package_ should successfully produce package.

The PackageMojo.getArtifactFile() method should correctly find my jar  even if it it has a different name to the value of project.buil

[2022-03-07 11:57] Flanker32 commented on #1960
@agilette Thanks for your report, I'll investigate this issue soon, and will update here once there are updates

[2022-03-10 08:26] jshaptic opened #1968 "Ability to specify staging directory in configuration"
### Plugin name and version
azure-functions-maven-plugin:1.16.0

### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
Sometimes names of the function app and staging directory are different and it would be good to have ability to specify staging directory manually in plugin configuration

### Actual behavior
Currently it's not possible to specify staging directory in azure-funct

[2022-03-13 09:40] Flanker32 commented on #1968
@jshaptic Thanks a lot for your feedback, I agree that staging directory should be customized, I've added this item to the back log.

Besides, currently maven toolkit will use `<appName>` in plugin configuration as the name of staging folder, could you please help share the project that app name diffs from staging folder name if possible?

[2022-03-14 14:17] jshaptic commented on #1968
I don't think I will be able to find some open-source project with such needs, but I can share some details regarding my current project. We have a multi-environment setup, where each environment has its own function instance  and each one has diffferent name, e.g. function-dev, function-stage, function-prod etc.
So, it would be really good to have ability to build only once, but deploy many times

[2022-03-30 07:14] euchungmsft commented on #1871
It's been a while, any updates with this ? @Flanker32  @andxu

I realized that none of these to work with this module

- Maven Plugin for Azure Web Apps
- Maven Plugin for Azure Functions
- Maven Plugin for Azure Spring Cloud	-

after config's done, when I tried to run `mvn -X package azure-webapp:deploy`, I got this and it never ends

![image](https://user-images.githubusercontent.com/20915976/16

[2022-04-04 07:07] Flanker32 commented on #1871
@euchungmsft Thanks for your report and really sorry for the late response.  I could still not re-produce this issue, could you please share the full log of `webapp:deploy -X` for us for better investigation?

[2022-04-04 08:27] blacelle opened #1989 "java.lang.NullPointerException at com.microsoft.azure.maven.utils.MavenArtifactUtils.isExecutableJar (MavenArtifactUtils.java:50)"
### Plugin name and version

	<groupId>com.microsoft.azure</groupId>
	<artifactId>azure-spring-cloud-maven-plugin</artifactId>
	<version>1.9.0</version>

### Plugin configuration in your `pom.xml`

[code]

### Expected behavior
A self-expressive error if something is wrong in my configuration

### Actual behavior

[code]

### Steps to reproduce the problem

My command is `mvn azure-spring-cloud:de

[2022-04-04 08:28] blacelle commented on #1989
The path to the faulty jar would also be helpful.

[2022-04-04 18:22] JasonFreeberg opened #1990 "The configuration command removes all new lines from the pom"
### Plugin name and version

[code]

### Actual behavior

I ran the `:config` command and completed the form. The configuration was saved to my pom, but it _also_ removed every blank line on my pom, so I had to go and put these all back manually

![image](https://user-images.githubusercontent.com/18747768/161607158-a875a3c8-dba4-43e1-8bce-f9a553d009b8.png)

I don't think it's good for the plugin t

[2022-04-07 14:47] Flanker32 commented on #1990
@JasonFreeberg Thanks for your report, we will investigate this issue soon.

[2022-04-07 14:54] Flanker32 commented on #1989
@blacelle Thanks for your report and sorry for the late reply, we will looking into this issue soon, as a workaround, you may use add the following configuration to your plugin configuration to set the artifact to deploy
[code]

[2022-04-07 15:36] blacelle commented on #1989
Hello,

I feel my issue is not a lack of jar. It seems related to https://stackoverflow.com/questions/37783069/why-cant-i-extract-a-spring-boot-executable-jar

-> Hence, JarInputStream (supposedly) fails opening this file/finding a Manifest.

as the NPE hits `return manifest.getMainAttributes().getValue("Main-Class") != null;`

[2022-04-09 02:29] Flanker32 commented on #1989
@blacelle Thanks for your message, could you please help check is there any fat jar in your target directory? If not, you may use spring-boot-maven-plugin to generate one, you may refer [document](https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#packaging) here. Then could you please specify the fat jar in spring cloud maven plugin configuration and try deploy aga

[2022-04-09 09:44] blacelle commented on #1989
@Flanker32 There is a fat jar, else your code would throw differently. it is generating using spring-boot-maven-plugin, but with `<executable>true</ executable>` (as suggested by the pointer to https://stackoverflow.com/questions/37783069/why-cant-i-extract-a-spring-boot-executable-jar).

[2022-04-09 09:58] blacelle commented on #1989
https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#goals-repackage-parameters-details-executable

[2022-04-09 10:03] blacelle commented on #1989
(I suppose this is a normal migration step from AppService (with a custom Dockerfile, referring to an entrypoint.sh script starting sshd then the fatjar with executable=true)).

[2022-04-10 11:30] wangmingliang-ms commented on #1989
@blacelle
1. The NPE is unquestionably a bug, we'll fix it in the next release.
2. [this format of jar](https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#goals-repackage-parameters-details-executable) is not supported by Azure Spring Cloud(confirmed with @yuwzho) so we will keep taking this type of jar as NOT executable, you need change the configuration to make it

[2022-04-11 06:45] blacelle commented on #1989
It is acceptable as a general rule of thumb, but not for our current way of deploying to AppService -> during the migration, we need to have both deployment OK (AppSerice and SpringCLoud) -> it is totally OK to require executable false (for SpringCloud) ; I suppose azure-spring-cloud documentation should be improved, and maybe the maven plugin should reject them explicitly.

-> For my own case, th

[2022-04-12 01:22] wangmingliang-ms commented on #1989
@blacelle

You are right, we'll fix the NPE and improve the error message, thanks

[2022-04-19 12:08] blacelle opened #2007 "azure-spring-cloud-maven-plugin Unexpected Service(XXX) in subscription(YYY) is not found"
### Plugin name and version
com.microsoft.azure:azure-spring-cloud-maven-plugin:1.9.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
Proper deployement of the app to Azure Spring Cloud

### Actual behavior
The plugin fails wioth:

[code]

### Steps to reproduce the problem
Unknown.

---

I checked multiple times in Azure Portal: we do have an 'Azure Spring Cloud' in give

[2022-04-21 00:29] TeplrGuy opened #2011 "Azure Web Apps Maven Plugin zip deployment type not zipping jar."
### Plugin name and version
[code]
### Plugin configuration in your `pom.xml`

[code]

assembly.xml
[code]

The above pom and assembly are able to zip up jar file in target build folder.  We have a need to override the default behavior of the plugin such that it does not rename the final build artifact to app.jar.

Note: the above when deployed to app service causes a "no main manifest attribute"

[2022-04-21 02:59] wangmingliang-ms commented on #2007
Thanks for reporting, but we failed to reproduce it.
We'll look through the code to see if we can find any clues.

[2022-04-24 08:09] wangmingliang-ms commented on #2007
Hi, @blacelle, we couldn't reproduce this issue locally, but we found some clues from the code and fixed it.

It will list all services in the subscription and search one by `name` if resource group is not provided. (So, it should be slower if resource group name is not provided.)
but the implementation of `listing all service in the subscription` has a bug: it will return the old list (which is e

[2022-04-24 08:21] wangmingliang-ms commented on #1989
hi, @blacelle , we have fixed this issue, and the fixed be included in the coming released.
you can try on branch `endgame-202204.deprecation`, the updated version of the plugin is `1.10.0`

[2022-04-24 14:57] blacelle commented on #2007
How can I specify the resourceGroup in the maven plugin configuration?

[2022-04-25 05:37] wangmingliang-ms commented on #2007
@blacelle my bad, specifying `resourceGroup` is not supported yet.  I'll add this in future.

[2022-04-25 09:30] blacelle commented on #2007
I still have the same issue:

[code]

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/2117911/165061708-b0acfd5a-33c2-4a1d-9498-55a10fbe3c53.png">

[2022-04-26 02:46] wangmingliang-ms commented on #2007
@blacelle can you try the following steps to confirm if the expected service can be listed?
1. remove the `<configuration>...</configuration>` node (including its offspring nodes) from
[code]
2. run `mvn azure-spring-cloud:config`,
3. select the expected subscription when asked
4. and then you will be asked to select an `Azure Spring Cloud service` as shown in the screenshot below, **please check

[2022-04-26 18:54] blacelle commented on #2007
It gives:

`[ERROR] Failed to execute goal com.microsoft.azure:azure-spring-cloud-maven-plugin:1.9.0:config (default-cli) on project gateway: Error creating extended parser class: Could not determine whether class 'org.jtwig.parser.parboiled.base.BooleanParser$$parboiled' has already been loaded: Unable to make protected final java.lang.Class java.lang.ClassLoader.findLoadedClass(java.lang.String)

[2022-05-19 08:49] microsoft-github-policy-service[bot] opened #2035 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 09:20] #2035 closed, assigned to nobody

[2022-05-26 10:38] abharku opened #2039 "Unable to deploy Springboot function via proxy"
### azure-functions-maven-plugin - 1.18.0

### Plugin configuration in your `pom.xml`
<plugin>
                <groupId>com.microsoft.azure</groupId>
                <artifactId>azure-functions-maven-plugin</artifactId>
                <version>1.18.0</version>
                <configuration>
                    <auth><type>azure_cli</type></auth>
                    <resourceGroup>${functionResou

[2022-05-26 12:46] #904 closed

[2022-05-26 14:00] Flanker32 commented on #2039
@abharku Thanks for your report, could you please help share how did you set the proxy, and could you please try set the proxy though command line or maven settings.xml? You may find the reference [here](https://github.com/microsoft/azure-maven-plugins/wiki/Proxy)

[2022-05-26 14:11] abharku commented on #2039
@Flanker32 its  setup both in environment variable on command line as well as settings.xml

 <proxies>
   <proxy>
      <id>optional</id>
      <active>true</active>
      <protocol>http</protocol>
      <username>user</username>
      <password>password</password>
      <host>host</host>
      <port>8080</port>
      <nonProxyHosts>169.254.169.254</nonProxyHosts>
    </proxy>

  </proxies>

[2022-05-26 14:39] Flanker32 commented on #2039
@abharku Thanks for your help, could you please help share the error stack with `-X` options?

[2022-06-01 12:02] dkontyko commented on #1351
@Flanker32 is there any update on this issue? I seem to be having the same problem with receiving application/pdf into a byte[] parameter.

[2022-06-02 08:29] Flanker32 commented on #1351
@dkontyko Sorry for the trouble, I'm syncing with the function service team and will update here once we get any updates.

[2022-06-03 13:34] kaibocai commented on #1351
@dkontyko thanks for reaching out can you provided your function code and post request that to reproduce the issue. Thank you.
As mentioned by @pauldaustin the work around is to use content-type application/octet-stream in your request header. It tells functions that data type of the coming request is bytes so can processing it correctly.

[2022-06-04 14:55] dkontyko commented on #1351
@kaibocai here's an example function with the POST request in the ps1 file. https://github.com/dkontyko/azure-function-bug-repro/tree/main

I tested that function locally in IntelliJ. It works if I change the Content-type to application/octet-stream, as you mentioned, but fails if it's application/pdf.

(Here's the actual repo that I was originally trying to use this on: https://github.com/dkontyk

[2022-06-06 02:09] #1989 closed, assigned to wangmingliang-ms

[2022-06-06 15:00] kaibocai commented on #1351
Hi @dkontyko thanks very much for your updates and repo. I am trying to understand that when sending pdf data are we suppose to receive them as byte[] (sorry I am not quite familiar with front-end, would you mind to share some docs on this.). Currently, if content type is set to application/pdf, the azure functions will take the request data as string type, and later when using gson to convert str

[2022-06-06 23:30] dkontyko commented on #1351
@kaibocai, here's some references: https://www.iana.org/assignments/media-types/application/pdf and https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types.

PDF is a binary file type, so IMHO it should always be processed as a (binary) byte[], never a string. (I wonder if binary should be the case for all "application" types, but I don't know enough about HTTP to say that defi

[2022-06-09 10:23] dharm187 opened #2051 "Unavailable Font Error"
### Plugin name and version
azure-webapp-maven-plugin 1.6.0

### Plugin configuration in your `pom.xml`
<configuration>
          <schemaVersion>V2</schemaVersion>
          <resourceGroup>XXXX</resourceGroup>
          <appName>XXXXX</appName>
          <region>australiasoutheast</region>
          <pricingTier>P1V2</pricingTier>

          <appSettings>
            <property>
              <name

[2022-06-10 05:42] Flanker32 commented on #2051
@dharm187 Thanks for your report. Could you plese share us a demo project to reproduce this issue? By the way, could this issue be reproduced locally with the same tomcat container in Azure?

[2022-06-10 06:23] dharm187 commented on #2051
@Flanker32 Yes. I think this can be reproduced locally with same settings. For demo project, give me a day or 2. I can create that and provide.

[2022-06-10 10:10] juergenbr opened #2052 "NullPointerException when trying to deploy Function code via Maven Plugin into existing infrastructure"
### Plugin name and version
azure-functions-maven-plugin
1.18.0
### Plugin configuration in your `pom.xml`
[code]
### Expected behaviour
I want to set up a deployment pipeline to deploy function code to an already existing app service. **The service, function, function slots and app insights configuration are created via Bicep templates and should not be changed via the Maven deployment.** All tha

[2022-06-13 09:19] Flanker32 commented on #2052
@juergenbr Thanks a lot for your report and sorry for the trouble, I'll investigate and fix this issue soon.

[2022-06-15 13:56] purijatin opened #2053 "Exception thrown when the maven plugin is updated"
### Plugin name and version

azure-functions-maven-plugin

### Plugin configuration in your `pom.xml`

Dependency:

       <plugin>
                <groupId>com.microsoft.azure</groupId>
                <artifactId>azure-functions-maven-plugin</artifactId>
                <version>${azure.functions.maven.plugin.version}</version>
                <configuration>
                    <appName>${funct

[2022-06-20 05:37] MacDev1 opened #2054 "Now while deploying webapp (from MS Learn), I get this error"
### **Plugin configuration in  `pom.xml`**
(From MS Learn)
<?xml version="1.0" encoding="UTF-8"?>

[code]
### **Expected behavior**
Creating a WAR
### **Actual behavior**
[code]

### Steps to reproduce the problem
Comande in azure CLI : `mvn clean package azure-webapp:deploy`

[2022-06-20 08:25] purijatin commented on #573
Bringing this to notice again.

There needs to be a simple way to provide configurations as part of the deployment!

@brunoborges  A lot of times these configurations are not required to be pulled from key-vault. To keep it simple.

This is how we are doing currently as part of CICD pipeline:

[code]

Publishing first and then updating the configuration creates a few problems. Also, it complicates

[2022-06-21 12:11] purijatin opened #2057 "Redeployment failed when functions runtime is updated"
### Plugin name and version

azure-functions-maven-plugin

### Plugin configuration in your `pom.xml`

1. Deploy the Azure function against runtime-3
2. Redeploy the azure function against runtime-4

Maven showed that the deployment has succeeded. But in reality, the azure function wasn't running.

[code]

### Expected behavior

Doing a re-deploy using maven plugin when the pom.xml is updated from

[2022-06-21 20:38] melzayet opened #2058 "(azure-functions-maven-plugin) Deployment fails to restricted storage account"
### Plugin name and version
azure-functions-maven-plugin 1.17.0

### Plugin configuration in your `pom.xml`
[code]
### Expected behavior
Deploy successfully to restricted storage account described [here](https://docs.microsoft.com/en-us/azure/azure-functions/configure-networking-how-to#restrict-your-storage-account-to-a-virtual-network) :
1. Azure Premium Function (linux) using storage account wit

[2022-06-22 01:58] Flanker32 commented on #2058
@melzayet Thanks for your report, for linux premium function, plugin will use [run from package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package) for deployment by default, which will upload artifact to storage and set its sas token to app settings, but it should be blocked by the firewall.

In this case, you may use ZIP deployment with `<deploymentType

[2022-06-22 02:34] Flanker32 commented on #2057
@purijatin Thanks for your report, I'll investigate this issue soon

[2022-06-27 12:52] melzayet commented on #2058
@Flanker32 thanks a lot for the clarification. So if the Maven plugin is running in a build agent running in a network with access to storage account, this would allow it pass through the firewall right?
In other words, does the Maven plugin do a direct call to storage account to upload the zip file?

[2022-06-27 19:55] melzayet commented on #2058
@Flanker32 To follow up on the recommendation above of changing deployment type to ZIP, the same error still occurs. Also happens with RUN_FROM_ZIP. We doubled checked and the deploymentType configuration was correctly placed in the pom.xml. Is there any chance these type of ZIP deployments would require storage account access?

[2022-06-28 01:58] Flanker32 commented on #2057
@purijatin I tried with a simple HTTP Trigger project and it seems works well . Could you please check the `host.json` and check whether you are using bundle v2 or higher, which is required by runtime ~4. Please refer this [doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?pivots=programming-language-javascript&tabs=in-process%2Cazure-cli%2Cv4#migrating-from-3x-to-4x)

[2022-06-28 01:59] Flanker32 commented on #2058
For RUN_FROM_BLOB (default for Linux premium and consumption), yes, we will call storage api to upload the artifacts

[2022-06-28 02:06] Flanker32 commented on #2058
Could you please help share the full error stack with `mvn -X`? For there two ZIP deployment, we just call kudu zipdeploy which should not have storage call.

[2022-06-28 02:49] Flanker32 commented on #2054
@MacDev1 Thanks for your report and really sorry for the late response. This should be a compatibility issue between war plugin and your jdk.  Could you please help your java runtime info? I tried the pom within java 11 and it could work well.

[2022-06-28 12:25] melzayet commented on #2058
@Flanker32 Thanks. I have attached the full error stack as mentioned. I just have an update here. While this deploymentType did not work with an EP1 plan with Azure File share being attached, as soon as we moved into a Dedicated Service Plan (P1v2), the plugin deployment worked straight away with same pom.xml

In the successful deployment that used Dedicated Service Plan, I could see the logs show

[2022-06-30 08:59] Flanker32 commented on #2058
@melzayet Thanks for your help and sorry for the late reply! It seems that exception occurred when plugin trying to update the function app rather than the deployment. It may related to https://github.com/microsoft/azure-maven-plugins/issues/2052 that maven plugin will do some extra update during deployment. The issue has been resolved in plugin v1.19.0, could you please try the new version and se

[2022-06-30 09:05] Flanker32 commented on #2053
@purijatin Thanks for your report, the issue should be resolved in azure-functions-maven-plugin 1.19.0, could you please try the latest version and see whether the issue could be reproduced? Many thanks!

[2022-06-30 09:06] Flanker32 commented on #2052
@juergenbr Thanks for your report, the issue should be resolved in azure-functions-maven-plugin 1.19.0, could you please upgrade to latest version and see whether the issue could be reproduced? Many thanks!

[2022-07-11 18:03] dsteindo opened #2067 "Subfolders are not populated and app.jar is overriden by other jar files"
### Plugin name and version
- azure-webapp-maven-plugin
- 2.6.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
2 folders "lib" and "resources" under wwwroot and one app.jar.
the "lib" folder contains the dependencies (.jar files) that are needed for the application

### Actual behavior
Libraries under "lib" replace the app.jar directly in wwwroot and the server does not

[2022-07-11 18:39] dsteindo commented on #2067
Update: it works as expected with version 1.14.0

![grafik](https://user-images.githubusercontent.com/7224159/178336186-d8738786-ced6-4638-a3c9-5e75360a32db.png)

[2022-07-12 02:48] Flanker32 commented on #2067
@dsteindo Thanks for your report, we have migrated to kudu deployment which need to specify the deployment type for each resource, or we will deploy it as a jar file by default. Could you please try deploy with following configuration? You may find more details about kudu deployment [here](https://docs.microsoft.com/en-us/azure/app-service/deploy-zip?tabs=cli#kudu-publish-api-reference)

[code]

[2022-07-12 15:59] dsteindo commented on #2067
Hi @Flanker32 Thank you for your suggestion, it worked as expected and the structure was considered, however I have an question regarding the deployment logs now.
Before with 1.14.0 the deployment logs looked like this in azure
[code]
And it seems that the whole "wwwroot" directory was cleaned up before the files were uploaded

Now with 2.6.0 I get a dozen deployment logs in this format
[code]
The

[2022-07-14 15:49] Flanker32 commented on #2067
@dsteindo Sorry for the late response, currently maven toolkit did not support deploy options like `clean` and `restart` in one deploy. We are working on the support and will update here once there are updates.
If you want to restart the application after deployment, you may set `<stopAppDuringDeployment>` to `true` in configuration, we will stop the app before deployment and restart it after depl

[2022-07-15 13:09] dsteindo commented on #2067
Thank you for the support so far @Flanker32 and I am looking forward to future improvements.
In the meanwhile I can work with the latest version as of now :)

[2022-07-26 07:04] juergenbr commented on #2052
@Flanker32 I was able to test it, now the deployment is working with above configuration using version 1.19.0.

[2022-07-26 07:04] #2052 closed, assigned to nobody

[2022-07-27 09:41] jainharsh98 opened #2075 "Support passing port for function app startup"
Currently we can pass to functions core tools the port for the functions to listen on using -p flag. Can we add this functionality for the azure functions plugin as well?

[2022-08-01 15:08] melzayet commented on #2058
@Flanker32, my apologies for such a late reply. I tested this today with v1.19.0 and works perfectly with Zip deployment type into EP1. Looks like #2052 did solve that. Many thanks for you help on this issue. I will close it now

[2022-08-01 15:08] #2058 closed, assigned to nobody

[2022-08-05 12:32] johnoliver opened #2082 "Errors in azure-functions-maven-plugin do not fail the build"
### Plugin name and version
azure-functions-maven-plugin

### Expected behavior

When packaging fails, the whole maven build should fail.

### Actual behavior

Possibly related to #417. When installing extensions fails in:

[code]

The build will continue and succeed. It will print a "Build Failed" message however continue and produce an undeployable artifact.
Meaning that on a CI system unless yo

[2022-08-08 15:45] wesoos opened #2083 "Cannot deploy app service app via maven from intellij"
### Plugin name and version
azure-webapp-maven-plugin
1.12.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
Deploy app to Azure successfully

### Actual behavior
This just started recently.  But every time I try to deploy my app now, I get the below error.
okhttp3.internal.http2.StreamResetException: stream was reset: NO_ERROR

### Steps to reproduce the problem
Install

[2022-08-10 01:22] Flanker32 commented on #2083
@wesoos Thanks for your report, I'll investigate this issue soon

[2022-08-10 01:23] Flanker32 commented on #2082
@johnoliver Thanks for your help and sorry for the late response, I'll investigate this issue soon

[2022-08-22 22:18] rajashekarNampelli opened #2097 "Build failing after upgrading azure:azure-functions-maven-plugin:1.19.0"
### name: azure-functions-maven-plugin and version: 1.19.0

### Plugin configuration in your `pom.xml`
[code]

### Expected behavior
The build should success.  mvn clean package azure-functions:run

### Actual behavior
Getting error for : mvn clean package azure-functions:run

[ERROR] Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:1.19.0:package (package-functions) on proj

[2022-08-23 15:10] navintkr commented on #2097
@Flanker32 could you please check this, it's blocking the development of a high critical app

[2022-08-23 15:16] Flanker32 commented on #2097
@rajashekarNampelli @navintkr Thanks for your message and sorry for the trouble, could you please help share us the out of `mvn clean package -X` to help us better investigate this issue.

[2022-08-23 15:53] Flanker32 commented on #2097
@rajashekarNampelli @navintkr Thanks for your report, it seems that our toolkit trying to copy resource (library/artifact) to the same location as its origin.
During maven package, we will copy your artifact to staging directory (`${project_root}/target/azure-functions/${appName}`) and copy your dependencies to `${staging_directory}/lib`, could you please check did you save your library or project

[2022-08-23 16:06] rajashekarNampelli commented on #2097
@Flanker32
Yes. We are saving to `${project_root}/target/azure-functions/${appName} `

`        <stagingDirectory>${project.build.directory}/azure-functions/${functionAppName}</stagingDirectory>
`
[code]

[2022-08-23 17:54] brandonros opened #2100 "Stage directory not found. Please run mvn package first."
[code]

[2022-08-23 18:05] brandonros commented on #2100
Just had to move/clean some stuff out of pom.xml

[code]

worked

[2022-08-23 18:05] #2100 closed, assigned to nobody

[2022-08-24 01:28] Flanker32 commented on #2097
@rajashekarNampelli Thanks for your message, as a workaround, could you please change the output directory and try again? We are using `FileUtils` to copy resources and their latest release will throw exception in this case

[2022-08-24 18:34] rajashekarNampelli commented on #2097
@Flanker32
Yes, it is working after changing the directory path. Thank you very much for your support.

[2022-08-25 09:22] #2097 closed, assigned to nobody

[2022-08-29 09:37] QiAnXinCodeSafe opened #2109 "There is a vulnerability in Apache Maven 3.3.3,upgrade recommended"
https://github.com/microsoft/azure-maven-plugins/blob/a7e667210ec6fbf10def857d691caf1fbbdadf2b/pom.xml#L70

CVE-2021-26291

Recommended upgrade version：3.8.1

[2022-08-30 07:47] Flanker32 commented on #2083
@wesoos Really sorry for the late response for this issue, this seems to be an issue of ok http client while we have migrated to use netty in the new releases, could you please upgrade to the latest version (v2.6.1) and try again? Many thanks!

[2022-08-30 07:51] Flanker32 commented on #2082
@johnoliver Thanks for your help and really sorry for the late response, I try to reproduce this issue but maven plugin will throw an exception when failed to install extensions, could you please upgrade to the latest toolkit and try again? If this issue still reproduced, could you please help share a demo project to reproduce this issue? Many thanks!

[2022-09-02 06:27] #919 closed

[2022-09-02 06:27] #915 closed

[2022-09-02 06:27] #914 closed

[2022-09-02 06:30] #673 closed

[2022-09-02 06:31] #546 closed

[2022-09-02 06:32] Flanker32 commented on #546
Managed identity has been supported in web app maven plugin v2.6.1

[2022-09-02 06:34] Flanker32 commented on #1423
Kaffa template has been added to functions maven plugin, so close this issue

[2022-09-02 06:34] #1423 closed

[2022-09-02 06:34] #252 closed

[2022-09-02 06:40] #429 closed

[2022-09-02 06:42] #456 closed

[2022-09-02 06:48] #641 closed

[2022-09-02 06:49] #658 closed

[2022-09-02 06:51] #684 closed

[2022-09-02 06:52] wangmingliang-ms commented on #684
supported.

[2022-09-02 06:53] #854 closed

[2022-09-02 06:54] #855 closed

[2022-09-02 07:04] wangmingliang-ms commented on #1002
it should be portal's problem.

[2022-09-02 07:04] #1002 closed

[2022-09-02 07:05] #1035 closed

[2022-09-02 07:07] #1113 closed

[2022-09-02 07:08] wangmingliang-ms commented on #1181
Duplicate of #1097

[2022-09-02 07:08] #1181 closed

[2022-09-02 07:10] #1266 closed

[2022-09-05 06:24] wangmingliang-ms commented on #1845
this feature has been added. please try the latest version.

[2022-09-05 06:24] #1845 closed, assigned to wangmingliang-ms

[2022-09-20 03:24] wangmingliang-ms commented on #924
![image](https://user-images.githubusercontent.com/69189193/191160596-57cb42d4-57d2-4983-9f41-0f610696e305.png)

[2022-09-20 03:24] #924 closed

[2022-09-20 05:33] wangmingliang-ms commented on #1871
Hi, @euchungmsft, we really thank you for supporting us.  I noticed you have reported this issue to another team.
In fact, we also think this should be an issue of Azure CLI itself.
**Anyway, we improved the implementation of the authentication part of our maven plugins with the latest azure-identity library.**
Can you try the latest versions?

[2022-09-20 06:11] wangmingliang-ms commented on #1307
I can open the url of a simple hello world web app when trying to reproduce this issue with

[2022-09-20 08:13] wangmingliang-ms commented on #1990
this issue should be fixed by commit https://github.com/microsoft/azure-maven-plugins/commit/a93f2d47b9a323ff3351472cf3c7d50b1777a0c0

[2022-09-20 08:43] wangmingliang-ms commented on #1047
it's not reproduceable on Azure VM (Windows 11)

[2022-09-20 09:09] wangmingliang-ms commented on #648
it's covered in the help doc, available by
`mvn azure-webapp:help -Ddetail=true -Dgoal=config`

[2022-09-20 09:15] wangmingliang-ms commented on #974
it seems same issue as #1047

[2022-09-20 09:20] wangmingliang-ms commented on #1139
this issue should have disappeared in latest versions since we have upgraded the azure-sdk dependencies.

[2022-09-22 08:54] ivywei0125 commented on #1055
Already fixed

[2022-10-05 14:31] wesoos commented on #2083
Hello, I'm getting the following error when upgrading to 2.7.0

Failed to execute goal com.microsoft.azure:azure-webapp-maven-plugin:2.7.0:deploy (default-cli) on project tekcontrol-portal-ui: Execution default-cli of goal com.microsoft.azure:azure-webapp-maven-plugin:2.7.0:deploy failed. NullPointerException

[2022-10-05 14:53] wesoos commented on #2083
Adding the -e switch, I'm seeing this:

502 - Web server received an invalid response while acting as a gateway or proxy server.

[2022-10-09 13:19] Flanker32 commented on #2083
@wesoos Thanks for your report, could you please share the detail stack trace to help us better investigate this issue?

Could this issue be stable reproduced after switch to another site or with other toolkit like azure toolkit for IntelliJ or azure cli?

[2022-10-24 13:28] gueugaie opened #2144 "Can not use any other host.json file than ${rootDir}/host.json"
### Plugin name and version
azure-functions-maven-plugin, version 1.21.0

### Plugin configuration in your `pom.xml`
(not meaningful)

### Expected behavior
If the assembly process encounters an already present host.json file at the right place in the staging directory, it should not overwrite it with its own static version.

This would allow for easier code-reuse (sharing of host.json file in mul

[2022-11-04 13:54] adeabayyup opened #2163 "Non production deployment slots are using the same storage resource as the production slot"
### Plugin name and version
azure-functions-maven-plugin, version 1.21.0

### Plugin configuration in  `pom.xml`
[code]
### Expected behavior
If you deploy to stage when the 'stage' deployment slot doesn't exist, it will create a new deployment slot named 'stage' and copy the configuration settings of parent (prod). It should not copy application settings like ```WEBSITE_CONTENTSHARE``` and should

[2022-11-07 22:14] pankajagrawal16 opened #2165 "Fails deploying azure function using azure cli auth type"
### Plugin name and version

[code]

### Plugin configuration in your `pom.xml`

[code]

### Expected behavior

should deploy.

### Actual behavior

Fails with below error

[code]

### Steps to reproduce the problem

- Login use az login and set subscription.
- attempts to deploy

[2022-11-09 05:18] adeabayyup commented on #2165
I think it's a typo in your ```pom.xml```.  Instead of ```<auth><type>azure_cli</type></auth>``` use ```<authType>azure_cli</authType>```

[2022-11-09 06:21] pankajagrawal16 commented on #2165
Still fails with same error

[2022-11-13 12:29] wangmingliang-ms commented on #2165
what did you see when you run `az version --output json` directly in shell/terminal?

[2022-11-13 12:30] #648 closed

[2022-11-13 12:30] #1990 closed, assigned to Flanker32

[2022-11-13 17:02] pankajagrawal16 commented on #2165
[code]

[2022-11-13 17:05] pankajagrawal16 commented on #2165
Not sure why but I just tried once again, and this time it seems to work. Super weird. I don't recall doing any kind of changes etc

[2022-11-13 17:08] pankajagrawal16 commented on #2165
ok now it fails saying:

[code]

[2022-11-13 17:21] pankajagrawal16 commented on #2165
Bit more investigation, it seems to fail only when attempting to deploy via WSL2 terminal . Seems to work when deploying via powershell terminal.

Why would that be?

[2022-11-14 06:20] wangmingliang-ms commented on #2165
thanks for your investigation, we didn't set any restrictions on WSL2, we'll investigate what is wrong.
does both `az account list --output json` and `az version --output json` works well in your WSL2 terminal?

[2022-11-14 07:23] pankajagrawal16 commented on #2165
Yes both command works properly when run directly on wsl2 terminal and gives output

[2022-11-28 02:02] #2075 closed, assigned to nobody

[2022-11-28 02:02] #2144 closed, assigned to nobody

[2022-11-30 05:52] Flanker32 commented on #2163
@AidenFawkes Thanks a lot for your report and really sorry for the late response. We are using [run from package](https://learn.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package) deployment by default, which deployment in slot should not affect product deployment. Could you please help share us a demo project to reproduce this issue if possible?

As a workaround, if y